@keyframes clockwise-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.a-rotating {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: clockwise-rotation;
  animation-timing-function: linear;
}

@keyframes shining {
  0% {
    background-position: -100vw 100%;
  }

  100% {
    background-position: 100vw 100%;
  }
}

.a-shining {
  background: linear-gradient(to right, var(--medium-light-color) 0%, var(--medium-dark-color) 15%, var(--medium-light-color) 30%);
  background-size: 100vw 100%;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shining;
  animation-timing-function: linear;
}
