.autocomplete {
  display: inline-block;
  position: relative;
  width: 100%;
}

.autocomplete-form {
  margin-bottom: 0;
}

.autocomplete-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.autocomplete.is-opened > .autocomplete-form > .form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.autocomplete.is-opened > .autocomplete-menu {
  display: block;
}

.autocomplete.is-opened > .autocomplete-menu > .menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
