* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

::selection {
  background-color: var(--positive-color);
  color: var(--x-light-color);
}

html, body {
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'San Francisco Text', 'Segoe UI', Helvetica, YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: var(--baseline-height);
  touch-action: manipulation;
}

body {
  margin: 0;
  color: var(--x-dark-color);
  background-color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular', 'San Francisco Display', 'Segoe UI', Helvetica, YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  margin: 0 0 calc(var(--baseline-height) / 2);
  font-weight: 600;
}

h1 {
  font-size: 2.0em;
  line-height: calc(var(--baseline-height) * 2);
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

pre, code, var, samp, kbd {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-style: normal;
}

code, var, samp, kbd {
  line-height: 1;
  margin: 0 2px;
  padding: 2px 4px;
  border-radius: 4px;
}

code, var, samp {
  background-color: var(--positive-background-color);
}

kbd {
  background-color: var(--light-color);
  border: 1px solid var(--medium-dark-color);
  box-shadow: 0 1px var(--medium-dark-color);
}

code code,
code var,
code samp,
code kbd,
var code,
var var,
var samp,
var kbd,
samp code,
samp var,
samp samp,
samp kbd,
kbd code,
kbd var,
kbd samp,
kbd kbd {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

hr {
  margin: calc(var(--baseline-height) + 6px) auto;
  width: 72px;
  height: 12px;
  border: 0;
  background-color: var(--medium-light-color);
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle cx="1" cy="0.5" r="0.5"/></svg>');
  mask-repeat: repeat;
}

blockquote, dl, figure, ol, p, pre, table, ul {
  margin: 0 0 var(--baseline-height);
}

dt {
  font-weight: 600;
  color: var(--dark-color);
}

dd {
  margin: 0 0 0 1.5em;
}

pre {
  background-color: var(--light-color);
  padding: calc(var(--baseline-height) / 2 - 1px) calc(1.5em - 1px);
  overflow: auto;
  border-radius: 4px;
  border: 1px solid var(--medium-dark-color);
}

pre * {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

blockquote {
  position: relative;
  border-left: 4px solid var(--medium-light-color);
  padding: calc(var(--baseline-height) / 2) 1.5em calc(var(--baseline-height) / 2) calc(1.5em - 4px);
}

blockquote > p:last-child {
  margin-bottom: 0;
}

ul, ol {
  padding: 0 0 0 1.5em;
}

ol ol, ol ul, ul ol, ul ul {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: calc(var(--baseline-height) / 4) 1em;
  text-align: left;
  vertical-align: middle;
}

caption {
  font-weight: 600;
  caption-side: bottom;
  color: var(--dark-color);
  text-align: center;
  margin: calc(var(--baseline-height) / 2) 0;
}

a {
  color: var(--positive-color);
  text-decoration: none;
  text-decoration-skip: ink;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

small {
  font-size: 0.875em;
}

strong {
  font-weight: 600;
  font-style: normal;
}

mark {
  background-color: var(--positive-background-color);
  padding: 2px 4px;
  border-radius: 4px;
}

form,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: initial;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

summary {
  cursor: pointer;
}

:placeholder-shown,
::-webkit-input-placeholder {
  color: var(--dark-color);
}
