.container {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: var(--container-width);
}

.container-narrow {
  --container-width: 480px;
}

@media (--sm-viewport) {
  .container {
    padding: 0 1em;
  }
}
