.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: var(--container-width);
}

.container-narrow {
  max-width: 480px;
}

@media (--md-viewport) {
  .container {
    padding: 0 2.5rem;
  }
}
