.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-block {
  display: block;
  position: relative;
}

.dropdown-menu {
  position: fixed;
  display: flex;
  align-items: stretch;
  z-index: 2000;
}

.dropdown-menu > .menu {
  width: 100%;
  min-width: 192px;
  max-width: 480px;
  overflow-y: auto;
}

.dropdown-arrow::after,
.dropup-arrow::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.25em;
  vertical-align: middle;
  border-right: 0.25em solid transparent;
  border-left: 0.25em solid transparent;
}

.dropdown-arrow::after {
  border-top: 0.25em solid;
}

.dropup-arrow::after {
  border-bottom: 0.25em solid;
}
