.l-root::before {
  content: '';
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  opacity: 0;
  background-color: var(--backdrop-background-color);
  transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
}

.l-root.is-opened::before {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.l-root.is-opened > .l-sidebar {
  left: 0;
}

.l-root.is-opened > .l-main,
.l-root.is-opened > .l-main > .l-main-header,
.l-root.is-opened > .l-notifications,
.l-root.is-opened > .l-instant-notifications {
  padding-left: var(--sidebar-width);
}

.l-sidebar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-width) * -1);
  width: var(--sidebar-width);
  height: 100%;
  z-index: 300;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--light-color);
  border-right: 1px solid var(--medium-dark-color);
  transition: left 0.2s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.l-main {
  transition: padding 0.2s ease-in-out;
  width: 100%;
}

.l-main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--transparent-color);
  transition: padding 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.l-main-content {
  background-color: var(--x-light-color);
  padding: var(--navbar-height) 0 0;
}

.l-main-content::after {
  content: '';
  display: table;
}

.l-notifications {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: padding 0.2s ease-in-out;
}

.l-instant-notifications {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: padding 0.2s ease-in-out;
  text-align: center;
}

.l-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  color: var(--backdrop-color);
  background-color: var(--backdrop-background-color);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
}

.l-backdrop:not(:empty) {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.l-content {
  margin: calc(var(--baseline-height) * 4) 0 var(--baseline-height);
}

@media (--md-viewport) {
  .l-root.is-opened::before {
    display: none;
  }

  .l-root.is-opened > .l-sidebar {
    left: 0;
  }

  .l-root.is-opened > .l-main,
  .l-root.is-opened > .l-main > .l-main-header,
  .l-root.is-opened > .l-notifications,
  .l-root.is-opened > .l-instant-notifications {
    padding-left: var(--sidebar-width);
  }

  .l-main,
  .l-main > .l-main-header,
  .l-notifications,
  .l-instant-notifications {
    box-sizing: border-box;
  }
}
