.list-inline {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline-slashed > .list-inline-item + .list-inline-item::before {
  content: '\00a0/\00a0';
  color: var(--dark-color);
}

.list-inline-dotted > .list-inline-item + .list-inline-item::before {
  content: '\00a0\00b7\00a0';
  color: var(--dark-color);
}

.list-inline-divided > .list-inline-item {
  padding: 0 calc(1em - 1px);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.list-inline-divided > .list-inline-item + .list-inline-item {
  border-left-color: var(--medium-dark-color);
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--baseline-height);
}

.list-group-item,
a.list-group-item {
  display: block;
  padding: calc(var(--baseline-height) / 4) 1em;
  color: inherit;
  text-decoration: none;
}

.list-group-item.is-selected {
  background-color: var(--light-color);
}

.list-group-item:first-child,
.list-group-item + .list-group-item {
  border-top: 1px solid var(--medium-dark-color);
  padding-top: calc(var(--baseline-height) / 4 - 1px);
}

.list-group-item:last-child {
  border-bottom: 1px solid var(--medium-dark-color);
  padding-bottom: calc(var(--baseline-height) / 4 - 1px);
}

.list-group-item p:last-child {
  margin-bottom: 0;
}

a.list-group-item:hover,
label.list-group-item:hover {
  background-color: var(--light-color);
}
