.menu {
  box-sizing: border-box;
  padding: calc(var(--baseline-height) / 4 - 1px) 0;
  border: 1px solid var(--medium-dark-color);
  border-radius: 4px;
  background-color: var(--x-light-color);
  will-change: opacity;
}

.menu:focus {
  outline: none;
}

.menu-enter.menu-enter-active,
.menu-leave.menu-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.menu-enter,
.menu-leave.menu-leave-active {
  opacity: 0;
}

.menu-enter.menu-enter-active,
.menu-leave {
  opacity: 1;
}

.menu-item,
a.menu-item {
  display: flex;
  align-items: center;
  padding: calc(var(--baseline-height) / 4)
           24px
           calc(var(--baseline-height) / 4)
           0;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  min-height: var(--baseline-height);
}

.menu-item:not(.is-disabled):hover,
.menu-item:focus {
  background-color: var(--medium-light-color);
  outline: none;
}

.menu-item.is-disabled,
a.menu-item.is-disabled {
  color: var(--dark-color);
  cursor: default;
}

.menu-item-icon {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}

.menu-item-primary-text {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.menu-item-primary-text:first-child {
  margin-left: 32px;
}

.menu-item-primary-text + .menu-item-secondary-text {
  margin-left: 24px;
}

.menu-item-secondary-text {
  color: var(--dark-color);
  font-size: 0.875rem;
}

.menu-heading {
  padding: 0 24px 0 32px;
  color: var(--dark-color);
  font-weight: 600;
  font-size: 0.875rem;
}

.menu-form {
  margin: 0;
  padding: calc(var(--baseline-height) / 4)
           24px
           calc(var(--baseline-height) / 4)
           32px;
}

.menu-divider {
  height: 1px;
  margin: calc(var(--baseline-height) / 4) 0 calc(var(--baseline-height) / 4 - 1px);
  overflow: hidden;
  background-color: var(--medium-dark-color);
}
