.message {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: calc(var(--baseline-height) / 2 - 1px) calc(1.5em - 1px);
  margin: 0 0 var(--baseline-height);
}

.message > p:last-child {
  margin-bottom: 0;
}

.message-default {
  background-color: var(--default-background-color);
  border-color: var(--default-border-color);
}

.message-positive {
  background-color: var(--positive-background-color);
  border-color: var(--positive-border-color);
}

.message-negative {
  background-color: var(--negative-background-color);
  border-color: var(--negative-border-color);
}

.message-title {
  margin: 0;
  font-size: 1.125em;
  font-weight: 600;
  line-height: inherit;
}
