.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: var(--baseline-height) 1.5em;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--backdrop-background-color);
  will-change: opacity, transform;
}

.modal-enter.modal-enter-active,
.modal-leave.modal-leave-active {
  transition: opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946),
              transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-enter,
.modal-leave.modal-leave-active {
  opacity: 0;
  transform: scale(1.15);
}

.modal-enter.modal-enter-active,
.modal-leave {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  padding: var(--baseline-height) 1.5em;
  margin: 0 0 var(--baseline-height);
  background-color: var(--x-light-color);
  border-radius: 4px;
  box-shadow: 0 1px 2px var(--shadow-color);
}

.modal-dialog > *:last-child {
  margin-bottom: 0;
}

.modal > .modal-dialog {
  flex: 1;
  margin: auto;
  max-width: 640px;
}

.modal-title {
  margin: 0;
  font-size: 2.0em;
  font-weight: 300;
  line-height: calc(var(--baseline-height) * 2);
}

.modal-is-opened {
  overflow: hidden;
  position: relative;
  height: 100%;
}
