.navbar {
  box-sizing: border-box;
  border-bottom: 1px solid var(--medium-dark-color);
  height: var(--navbar-height);
  backface-visibility: hidden;
}

.navbar-container {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-width);
  height: 100%;
  padding: 0 1.5em;
}

.navbar-title {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1em;
  min-width: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-action {
  box-sizing: border-box;
  position: relative;
  color: inherit;
  text-decoration: none;
  width: var(--navbar-height);
  height: calc(var(--navbar-height) - 1px);
}

.navbar-action:hover,
.navbar-action:focus {
  color: var(--positive-color);
}

.navbar-action:disabled {
  color: var(--dark-color);
}

.navbar-action > button,
.navbar-action > .icon {
  width: 100%;
  height: 100%;
}

@media (--sm-viewport) {
  .navbar-container {
    padding-left: 0;
    padding-right: 0;
  }
}
