.responsive-container {
  overflow: hidden;
  margin: 0 auto var(--baseline-height);
}

.responsive-container-inner {
  position: relative;
  width: 100%;
}

.responsive-container-inner > img,
.responsive-container-inner > video,
.responsive-container-inner > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
