.stream-title,
a.stream-title {
  color: inherit;
  font-weight: 600;
}

a.stream-title:hover {
  color: var(--positive-color);
  text-decoration: none;
}

.stream-header {
  position: relative;
  padding: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
  border-bottom: 1px solid var(--medium-dark-color);
  background-color: var(--light-color);
  z-index: 20;
}

.stream-metadata {
  color: var(--dark-color);
}

.stream-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  text-align: center;
}

.stream-footer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
