.u-margin-top-1 {
  margin-top: var(--baseline-height);
}

.u-margin-top-2 {
  margin-top: calc(var(--baseline-height) * 2);
}

.u-margin-top-3 {
  margin-top: calc(var(--baseline-height) * 3);
}

.u-margin-bottom-1 {
  margin-bottom: var(--baseline-height);
}

.u-margin-bottom-2 {
  margin-bottom: calc(var(--baseline-height) * 2);
}

.u-margin-bottom-3 {
  margin-bottom: calc(var(--baseline-height) * 3);
}

.u-margin-left-1 {
  margin-left: 0.5em;
}

.u-margin-left-2 {
  margin-left: 1em;
}

.u-margin-left-3 {
  margin-left: 1.5em;
}

.u-margin-right-1 {
  margin-right: 0.5em;
}

.u-margin-right-2 {
  margin-right: 1em;
}

.u-margin-right-3 {
  margin-right: 1.5em;
}

.u-margin-remove {
  margin: 0;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-text-wrap {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-h1 {
  font-size: 2em;
}

.u-text-h2 {
  font-size: 1.5em;
}

.u-text-h3 {
  font-size: 1.375em;
}

.u-text-h4 {
  font-size: 1.25em;
}

.u-text-h5 {
  font-size: 1.125em;
}

.u-text-h6 {
  font-size: 1em;
}

.u-text-x-small {
  font-size: 0.75em;
}

.u-text-small {
  font-size: 0.875em;
}

.u-text-normal {
  font-size: 1em;
}

.u-text-large {
  font-size: 1.125em;
}

.u-text-x-large {
  font-size: 1.25em;
}

.u-text-muted {
  color: var(--dark-color);
}

.u-text-positive {
  color: var(--positive-color);
}

.u-text-negative {
  color: var(--negative-color);
}

.u-vertical-top {
  vertical-align: top;
}

.u-vertical-middle {
  vertical-align: middle;
}

.u-vertical-bottom {
  vertical-align: bottom;
}

.u-object-fit-fill {
  object-fit: fill;
}

.u-object-fit-contain {
  object-fit: contain;
}

.u-object-fit-cover {
  object-fit: cover;
}

.u-object-fit-none {
  object-fit: none;
}

.u-object-fit-scale-down {
  object-fit: scale-down;
}

.u-rounded {
  border-radius: 4px;
}

.u-rounded-circle {
  border-radius: 50%;
}

.u-flex {
  display: flex;
}

.u-flex-grow-0 {
  flex-grow: 0;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-flex-shrink-0 {
  flex-shrink: 0;
}

.u-flex-shrink-1 {
  flex-shrink: 1;
}

.u-flex-align-items-center {
  align-items: center;
}

.u-flex-justify-content-between {
  justify-content: space-between;
}

.u-flex-justify-content-center {
  justify-content: center;
}

.u-flex-truncate {
  min-width: 0;
}

.u-inline {
  display: inline !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-none {
  display: none !important;
}

.u-responsive {
  overflow-x: auto;
}

@media (--sm-viewport) {
  .u-sm-none {
    display: none !important;
  }

  .u-sm-inline {
    display: inline !important;
  }

  .u-sm-inline-block {
    display: inline-block !important;
  }

  .u-sm-block {
    display: block !important;
  }
}

@media (--md-viewport) {
  .u-md-none {
    display: none !important;
  }

  .u-md-inline {
    display: inline !important;
  }

  .u-md-inline-block {
    display: inline-block !important;
  }

  .u-md-block {
    display: block !important;
  }
}

@media (--lg-viewport) {
  .u-lg-none {
    display: none !important;
  }

  .u-lg-inline {
    display: inline !important;
  }

  .u-lg-inline-block {
    display: inline-block !important;
  }

  .u-lg-block {
    display: block !important;
  }
}
