{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ios >= 9.3"]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
