{
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-uses-vars": 1,
        "react/jsx-uses-react": 1,
        "semi": 2
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
