.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--container-width);
}

.container-over {
  margin: 0 -1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }

  .container-over {
    margin: 0 -1.5rem;
  }
}
