.link-soft {
  color: inherit;
  text-decoration: none;
}

.link-soft:hover {
  color: var(--positive-color);
  text-decoration: none;
}

.link-strong {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.link-strong:hover {
  color: var(--positive-color);
  text-decoration: none;
}
