.VirtualScroller-list {
  display: contents;
  list-style: none;
}

.VirtualScroller-spacer,
.VirtualScroller-list,
.VirtualScroller-item {
  scroll-margin: inherit;
}

.VirtualScroller-spacer,
.VirtualScroller-item {
  contain: layout;
}
