{
  "openapi": "3.1.0",
  "info": {
    "title": "Hatena Bookmark API",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://bookmark.hatenaapis.com"
    }
  ],
  "paths": {
    "/count/entries": {
      "get": {
        "summary": "get multiple bookmark counts",
        "operationId": "getMultipleBookmarkCounts",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uri"
              }
            },
            "style": "form",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/entry/jsonlite/": {
      "get": {
        "summary": "get bookmark entry",
        "operationId": "getBookmarkEntry",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uri"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookmarkEntry"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BookmarkEntry": {
        "type": "object",
        "required": ["title", "count", "url", "entry_url", "screenshot", "eid"],
        "properties": {
          "title": {
            "type": "string"
          },
          "count": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "entry_url": {
            "type": "string",
            "format": "uri"
          },
          "screenshot": {
            "type": "string",
            "format": "uri"
          },
          "eid": {
            "type": "integer"
          },
          "bookmarks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bookmark"
            }
          }
        }
      },
      "Bookmark": {
        "type": "object",
        "required": ["user", "tags", "timestamp", "comment"],
        "properties": {
          "user": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "item": {
              "type": "string"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "comment": {
            "type": "string"
          }
        }
      }
    }
  }
}
