{
  "openapi": "3.1.0",
  "info": {
    "title": "Wedata API",
    "version": "3"
  },
  "servers": [
    {
      "url": "http://wedata.net"
    }
  ],
  "paths": {
    "/database/{name}/items_all.json": {
      "get": {
        "summary": "get database items",
        "operationId": "getDatabaseItems",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Item": {
        "type": "object",
        "required": [
          "resource_url",
          "database_resource_url",
          "data",
          "created_by",
          "name",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "resource_url": {
            "type": "string",
            "format": "uri"
          },
          "database_resource_url": {
            "type": "string",
            "format": "uri"
          },
          "data": {
            "type": "object"
          },
          "created_by": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
