.Button {
  border-radius: 0.25rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  min-block-size: 1rlh;
  padding-inline: 0.5rem;

  &.solid {
    border-color: var(--Button-solidBorderColor);
    background-color: var(--Button-solidBackgroundColor);
    box-shadow:
      inset 0 1px var(--Button-solidHighlightColor),
      inset 1px 0 var(--Button-solidHighlightColor),
      inset 0 -1px var(--Button-solidHighlightColor),
      inset -1px 0 var(--Button-solidHighlightColor),
      0 1px 1px var(--Button-solidShadowColor);
    color: var(--Button-solidColor);
  }

  &.solid:active {
    background-color: var(--Button-solidActiveBackgroundColor);
  }

  &.default {
    --Button-iconColor: var(--neutral-6);
    --Button-solidActiveBackground-color: var(--neutral-2);
    --Button-solidBackgroundColor: var(--neutral-1);
    --Button-solidBorderColor: var(--neutral-4);
    --Button-solidColor: var(--neutral-10);
    --Button-solidHighlightColor: var(--color-highlight);
    --Button-solidShadowColor: var(--color-shadow);
  }
}

.Button-icon {
  align-self: center;
  color: var(--Button-iconColor);
}

.Button-text {
  align-self: center;
  text-box: trim-both cap alphabetic;
}
