.Button {
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  min-block-size: 1rlh;
  padding-inline: 8px;
  border: 1px solid transparent;

  &.flat {
    background-color: var(--flat-background-color);
    color: var(--flat-color);
  }

  &.flat:hover {
    background-color: var(--flat-hover-background-color);
    color: var(--flat-hover-color);
  }

  &.flat:active {
    background-color: var(--flat-active-background-color);
    color: var(--flat-hover-color);
  }

  &.solid {
    border-color: var(--solid-border-color);
    background-color: var(--solid-background-color);
    box-shadow:
      inset 0 1px var(--solid-light-color),
      inset 1px 0 var(--solid-light-color),
      inset 0 -1px var(--solid-light-color),
      inset -1px 0 var(--solid-light-color),
      0 1px var(--solid-shadow-color);
    color: var(--solid-color);
  }

  &.solid:active {
    background-color: var(--solid-active-background-color);
  }

  &.default {
    --flat-active-background-color: var(--default-4);
    --flat-background-color: var(--default-2);
    --flat-color: var(--default-1);
    --flat-hover-background-color: var(--default-3);
    --flat-hover-color: var(--default-6);
    --icon-color: var(--default-6);
    --solid-active-background-color: var(--default-2);
    --solid-background-color: var(--default-1);
    --solid-border-color: var(--default-border);
    --solid-color: var(--default-10);
    --solid-light-color: var(--default-light);
    --solid-shadow-color: var(--default-shadow);
  }

  .slot-icon {
    align-self: center;
    color: var(--icon-color);
  }
}
