.PathIcon {
  --size: attr(data-size px, 16px);
  align-self: center;
  box-sizing: border-box;
  height: var(--size);
  width: var(--size);

  &.shape {
    border-bottom: 2px solid currentColor;
    border-shape: var(--path) content-box;
  }

  &.solid {
    background-color: currentColor;
    clip-path: var(--path) content-box;
  }

  &.checkmark {
    --path: polygon(19% 48%, 39% 67%, 82% 23%, 92% 34%, 39% 89%, 9% 59%);
  }

  &.menu {
    --path: shape(
      /* top border */
      from 0px 2px,
      line to 16px 2px,
      /* middle border */
      move to 0px 8px,
      line to 16px 8px,
      /* bottom border */
      move to 0px 14px,
      line to 16px 14px
    );
  }

  &.preference {
    --path: shape(
      /* left border */
      from 4px 1px,
      line to 4px 4px,
      arc to 4px 8px of 2px cw,
      arc to 4px 4px of 2px cw,
      move to 4px 8px,
      line to 4px 15px,
      /* right border */
      move to 12px 1px,
      line to 12px 8px,
      arc to 12px 12px of 2px cw,
      arc to 12px 8px of 2px cw,
      move to 12px 12px,
      line to 12px 15px
    );
  }

  &.vertical-dots {
    --path: shape(
      /* top dot */
      from 8px 0px,
      arc to 8px 4px of 1.5px cw,
      arc to 8px 0px of 1.5px cw,
      /* middle dot */
      move to 8px 6px,
      arc to 8px 10px of 1.5px cw,
      arc to 8px 6px of 1.5px cw,
      /* bottom dot */
      move to 8px 12px,
      arc to 8px 16px of 1.5px cw,
      arc to 8px 12px of 1.5px cw
    );
  }
}
