.SideMenu-Group {
  padding-block: calc(var(--text-leading) / 4);

  &:not(:first-child) {
    box-shadow: 0 -1px var(--default-border);
  }
}

.SideMenu-Header {
  background-color: var(--default-2);
  color: var(--default-6);
  display: flex;
  font-family: var(--font-display);
  font-size: calc(1rem * var(--text-scale-8));
  gap: 0.5rem;
  inline-size: stretch;
  padding-inline-start: 1.5rem;

  &:not(:first-child) {
    box-shadow: 0 -1px var(--default-border);
  }
}

.SideMenu-Header-label {
  flex: 1;
  font-weight: bold;
  min-inline-size: 0;
}

.SideMenu-Header-info {
  place-self: center;
}

.SideMenu-Header-Action {
  position: relative;
  flex: 0 0 2rem;
  place-self: stretch;

  &:hover {
    --SideMenu-Header-Action-backgroundColor: var(--default-3);
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--SideMenu-Header-Action-backgroundColor);
  }
}

.SideMenu-Header-Action-icon {
  place-self: center;
}

.SideMenu-Item {
  display: grid;

  &:hover {
    --Sidenav-Menu-Item-backgroundColor: var(--default-2);
  }

  &.selected {
    --Sidenav-Menu-Item-backgroundColor: var(--primary-6);
    --Sidenav-Menu-Item-color: var(--default-bg);
  }

  &::before {
    background-color: var(--Sidenav-Menu-Item-backgroundColor);
    border-radius: 0.25rem;
    content: "";
    display: block;
    grid-area: 1 / 1;
    margin-inline: 0.25rem;
  }
}

.SideMenu-Item-Cell {
  color: var(--Sidenav-Menu-Item-color);
  display: flex;
  gap: 0.5rem;
  grid-area: 1 / 1;
  inline-size: stretch;
  padding-inline: 1.5rem 0.5rem;
}

.SideMenu-Item-icon {
  align-self: center;
}

.SideMenu-Item-label {
  flex: 1;
  margin-block: calc((1lh - 1cap) / 2);
  min-inline-size: 0;
  text-box: trim-both cap alphabetic;
}

.SideMenu-Item-info {
  align-self: center;
}
