.StackScroller {
  --header-height: 2rlh;
  --item-height: calc(100vh - var(--header-height));
}

.StackScroller-List {
  position: relative;

  &::before {
    block-size: var(--item-height);
    content: "";
    display: block;
  }
}

.StackScroller-Item {
  background-color: var(--default-bg);
  contain: content;
  min-block-size: var(--item-height);
  scroll-margin-block-start: var(--header-height);
  will-change: filter;

  & + & {
    box-shadow:
      0 -1px var(--default-border),
      0 -2px 1px var(--default-shadow);
  }

  &.previous,
  &.next {
    block-size: var(--item-height);
    content-visibility: auto;
    margin-block-start: calc(var(--item-height) * -1);
    overflow: clip;
  }

  &.previous,
  &.current {
    animation-name: StackScroller-Item-dim;
    animation-timing-function: ease;
    position: sticky;
  }

  &.previous {
    animation-range: entry 0% entry 100%;
    animation-timeline: view(block 0 100%);
    inset-block-start: var(--header-height);
  }

  &.next {
    position: relative;
  }

  &.current {
    animation-range: exit 0% exit 100%;
    animation-timeline: view(block 100% 0%);
  }

  &.current:only-child {
    margin-block-start: calc(var(--item-height) * -1);
  }

  &.current:not(:first-child):not(:last-child) {
    margin-block-start: var(--item-height);
  }

  &.current:not(:last-child) {
    inset-block-end: 0;
  }
}

.StackScroller-Anchor {
  position: absolute;

  &.top {
    inset-block-start: 0;
  }

  &.middle {
    inset-block-start: var(--item-height);
  }
}

@keyframes StackScroller-Item-dim {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(0.8);
  }
}
