.StackScroller {
  --StackScroller-headerSize: 2rlh;
  --StackScroller-itemSize: calc(100vh - var(--StackScroller-headerSize));
}

.StackScroller-List {
  &::before {
    block-size: var(--StackScroller-itemSize);
    content: "";
    display: block;
  }
}

.StackScroller-Item {
  background-color: var(--default-bg);
  box-shadow: 0 -1px 2px var(--default-shadow);
  box-sizing: border-box;
  min-block-size: var(--StackScroller-itemSize);
  position: sticky;
  scroll-margin-block-start: var(--StackScroller-headerSize);

  & + & {
    border-block-start: 1px solid var(--default-border);
  }

  &.prev,
  &.next {
    margin-block-start: calc(var(--StackScroller-itemSize) * -1);
    max-block-size: var(--StackScroller-itemSize);
    overflow: clip;
  }

  &.prev {
    background-color: var(--default-1);
    inset-block-start: var(--StackScroller-headerSize);
  }

  &.current {
    animation-name: StackScroller-Item-exit;
    animation-timeline: view();
    animation-range: exit 0% exit 50%;
  }

  &.current:only-child {
    margin-block-start: calc(var(--StackScroller-itemSize) * -1);
  }

  &.current:not(:first-child):not(:last-child) {
    margin-block-start: var(--StackScroller-itemSize);
  }

  &.current:not(:last-child) {
    inset-block-end: 0;
  }
}

@keyframes StackScroller-Item-exit {
  from {
    background-color: var(--default-bg);
  }

  to {
    background-color: var(--default-1);
  }
}
