.TreeItem {
  --TreeNode-backgroundColor: transparent;
  --TreeNode-color: currentColor;
  --TreeNode-level: calc(var(--TreeNode-parent-level, 0) + 1);
  display: grid;
  grid-template-areas: "cell-head cell-tail" "children children";
  grid-template-columns: 24px 1fr;

  &:where(:not(:has(&:hover))):hover {
    --TreeNode-backgroundColor: var(--default-2);
  }

  &.selected {
    --TreeNode-backgroundColor: var(--primary-6);
    --TreeNode-color: var(--primary-0);
  }

  &::before {
    background-color: var(--TreeNode-backgroundColor);
    border-radius: 4px;
    content: "";
    grid-area: cell-head-start / cell-head / cell-tail / cell-tail-end;
    margin-inline: 4px;
  }
}

.TreeItem-Toggle {
  --path: polygon(37.5% 75%, 37.5% 25%, 62.5% 50%);
  grid-area: cell-head;
  z-index: 1;

  &.expanded {
    --path: polygon(50% 62.5%, 25% 37.5%, 75% 37.5%);
  }

  &::before {
    block-size: 16px;
    clip-path: var(--path);
    color: var(--TreeNode-color);
    content: "";
    display: block;
    inline-size: 16px;
    margin-inline: auto;
  }

  &::before {
    background-color: var(--TreeNode-color);
  }
}

.TreeItem-Cell {
  align-items: center;
  position: relative;
  color: var(--TreeNode-color);
  display: grid;
  gap: 8px;
  grid-area: cell-head-start / cell-head / cell-tail / cell-tail-end;
  grid-template-areas: "icon label info";
  grid-template-columns: auto 1fr auto;
  padding-inline: calc(24px * var(--TreeNode-level)) 16px;

  [data-slot] {
    grid-area: attr(data-slot type(<custom-ident>));
    min-inline-size: 0;
  }
}

.TreeItem-Children {
  --TreeNode-parent-level: var(--TreeNode-level);
  grid-area: children;
}
