.Tree-Item {
  --TreeNode-backgroundColor: transparent;
  --TreeNode-color: currentColor;
  --TreeNode-level: calc(var(--TreeNode-parent-level, 0) + 1);
  display: grid;
  grid-template-areas: "head tail" "children children";
  grid-template-columns: 24px 1fr;

  &:where(:not(:has(&:hover))):hover {
    --TreeNode-backgroundColor: var(--default-2);
  }

  &.indirectly-selected {
    --TreeNode-backgroundColor: var(--primary-2);
  }

  &.selected {
    --TreeNode-backgroundColor: var(--primary-6);
    --TreeNode-color: var(--default-bg);
  }

  &::before {
    background-color: var(--TreeNode-backgroundColor);
    border-radius: 4px;
    content: "";
    grid-area: head-start / head / tail / tail-end;
    margin-inline: 4px;
  }
}

.Tree-Item-Toggle {
  --path: polygon(37.5% 75%, 37.5% 25%, 62.5% 50%);
  grid-area: head;
  z-index: 1;

  &.expanded {
    --path: polygon(50% 62.5%, 25% 37.5%, 75% 37.5%);
  }

  &::before {
    block-size: 16px;
    clip-path: var(--path);
    color: var(--TreeNode-color);
    content: "";
    display: block;
    inline-size: 16px;
    margin-inline-start: auto;
  }

  &::before {
    background-color: var(--TreeNode-color);
  }
}

.Tree-Item-Cell {
  position: relative;
  color: var(--TreeNode-color);
  display: flex;
  gap: 8px;
  grid-area: head-start / head / tail / tail-end;
  padding-inline: calc(24px * var(--TreeNode-level)) 8px;

  > .slot-icon {
    align-self: center;
  }

  > .slot-label {
    flex: 1;
    margin-block: calc((1lh - 1cap) / 2);
    min-inline-size: 0;
    text-box: trim-both cap alphabetic;
  }
}

.Tree-Item-Children {
  --TreeNode-parent-level: var(--TreeNode-level);
  grid-area: children;
}
