.ReaderLayout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 16rem minmax(auto, 50rem);
  justify-content: center;
}

.ReaderLayout-Page {
  opacity: 1;
  transition: opacity 0s 0s;

  &[inert] {
    opacity: 0.5;
    transition: opacity 0s step-end 100ms;
  }
}

.ReaderLayout-Page {
  border-left: 1px solid rgb(from var(--default-6) r g b / 0.2);
  border-right: 1px solid rgb(from var(--default-6) r g b / 0.2);
  margin-left: -1px;
  margin-right: -1px;
  grid-area: main;
  min-height: 100vh;
  overflow: clip;
  z-index: 1;
}

.ReaderLayout-Sidebar {
  grid-area: sidebar;
  max-height: 100vh;
  overflow-y: auto;
  position: sticky;
  top: 0;
}
