.Profile {
  block-size: 2rlh;
  display: grid;
  gap: 0.5rem;
  font-family: var(--font-display);
  grid-template-areas: ". visual content arrow";
  grid-template-columns: 0 auto 1fr 1.5rem;
  align-items: stretch;

  &::before,
  &::after {
    content: "";
    grid-area: arrow;
  }

  &::before {
    border-inline-start: 1px solid var(--neutral-4);
    box-shadow: inset 1px 0 var(--color-highlight);
  }

  &::after {
    background-color: currentColor;
    block-size: 1rem;
    clip-path: var(--path-arrow-down);
    inline-size: 1rem;
    place-self: center;
  }
}

.Profile-Visual {
  grid-area: visual;
  place-content: center;
}

.Profile-Visual-icon {
  border-radius: 50%;
  border: 1px solid var(--neutral-4);
  corner-shape: squircle;
}

.Profile-Content {
  place-content: center;
  grid-area: content;
  line-height: 1.375;
}

.Profile-Content-name {
  font-size: calc(1rem * var(--text-scale-7));
  font-weight: bold;
}

.Profile-Content-source {
  color: var(--neutral-6);
  font-size: calc(1rem * var(--text-scale-8));
}
