.Sidenav {
  border-inline-end: 1px solid var(--default-border);
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: auto 1fr;
  height: 100vh;
  opacity: 1;
  position: sticky;
  top: 0;
  transition: opacity 0s 0s;

  &[inert] {
    opacity: 0.5;
    transition: opacity 0s step-end 100ms;
  }
}

.Sidenav-Header {
  background-color: var(--default-2);
  box-shadow:
    inset 0 1px var(--default-light),
    inset 1px 0 var(--default-light),
    inset 0 -1px var(--default-light),
    inset -1px 0 var(--default-light),
    0 1px var(--default-border),
    0 2px 1px var(--default-shadow);
  z-index: 1;
}

.Sidenav-Main {
  background-color: var(--default-1);
  grid-area: main;
  overflow-y: auto;
}

.Sidenav-Toolbar {
  align-items: center;
  display: flex;
  gap: 8px;
  grid-area: header;
  height: 2rlh;
  padding-inline: 16px;
}

.Sidenav-Toolbar-Spacer {
  flex: 1;
}

.Sidenav-Menu-Group {
  & + & {
    box-shadow: 0 -1px var(--default-border);
    margin-block-start: calc(var(--text-leading) / 4);
  }

  &:not(:has(.Sidenav-Menu-Header)) {
    padding-block-start: calc(var(--text-leading) / 4);
  }
}

.Sidenav-Menu-Header {
  color: var(--default-6);
  display: grid;
  font-size: calc(1rem * var(--text-scale-8));
  grid-template-areas: "label action";
  grid-template-columns: 1fr 32px;
  inline-size: stretch;

  &::before {
    background-color: var(--Sidenav-Menu-Header-backgroundColor);
    border-radius: 4px;
    content: "";
    display: block;
    grid-area: label-start / label / action / action-end;
    margin-inline: 4px;
  }
}

.Sidenav-Menu-Header-Action {
  grid-area: action;
  place-self: stretch;

  &:hover {
    color: var(--primary-6);
  }
}

.Sidenav-Menu-Header-Action-icon {
  place-self: center;
}

.Sidenav-Menu-Header-Label {
  font-family: var(--font-display);
  font-weight: bold;
  grid-area: label;
  min-inline-size: 0;
  padding-inline: 24px 8px;
}

.Sidenav-Menu-Item {
  display: grid;

  &:hover {
    --Sidenav-Menu-Item-backgroundColor: var(--default-2);
  }

  &.selected {
    --Sidenav-Menu-Item-backgroundColor: var(--primary-6);
    --Sidenav-Menu-Item-color: var(--default-bg);
  }

  &::before {
    background-color: var(--Sidenav-Menu-Item-backgroundColor);
    border-radius: 4px;
    content: "";
    display: block;
    grid-area: 1 / 1;
    margin-inline: 4px;
  }
}

.Sidenav-Menu-Item-Cell {
  color: var(--Sidenav-Menu-Item-color);
  display: flex;
  gap: 8px;
  grid-area: 1 / 1;
  inline-size: stretch;
  padding-inline: 24px 8px;
}

.Sidenav-Menu-Item-icon {
  align-self: center;
}

.Sidenav-Menu-Item-label {
  flex: 1;
  margin-block: calc((1lh - 1cap) / 2);
  min-inline-size: 0;
  text-box: trim-both cap alphabetic;
}

.Sidenav-Menu-Item-info {
  align-self: center;
}
