.Sidenav {
  border-inline-end: 1px solid var(--neutral-4);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  opacity: 1;
  position: sticky;
  top: 0;
  transition: opacity 0s 0s;

  &[inert] {
    opacity: 0.5;
    transition: opacity 0s step-end 100ms;
  }
}

.Sidenav-Header {
  background-color: var(--neutral-2);
  box-shadow:
    inset 0 1px var(--color-highlight),
    inset 1px 0 var(--color-highlight),
    inset 0 -1px var(--color-highlight),
    inset -1px 0 var(--color-highlight),
    0 1px var(--neutral-4),
    0 2px 1px var(--color-shadow);
  z-index: 1;
}

.Sidenav-Main {
  background-color: var(--neutral-1);
  overflow: auto;
}

.Sidenav-Footer {
  background-color: var(--neutral-2);
  box-shadow:
    inset 0 1px var(--color-highlight),
    inset 1px 0 var(--color-highlight),
    inset 0 -1px var(--color-highlight),
    inset -1px 0 var(--color-highlight),
    0 -1px var(--neutral-4),
    0 -2px 1px var(--color-shadow);
  z-index: 1;
}
