@container not style(--layout: small) {
  .use-only-small {
    display: none;
  }
}

@container not style(--layout: medium) {
  .use-only-medium {
    display: none;
  }
}

@container not style(--layout: large) {
  .use-only-large {
    display: none;
  }
}
