:root {
  --font-code:
    "Menlo", "Consolas", "Toppan Bunkyu Gothic", "Hiragino Kaku Gothic ProN",
    "Meiryo", "Noto Sans Mono CJK JP", monospace;
  --font-display:
    "Avenir Next", "Segoe UI", "Arial", "Toppan Bunkyu Gothic",
    "Hiragino Kaku Gothic ProN", "Meiryo", "Noto Sans CJK JP", sans-serif;
  --font-text:
    "Optima", "Cambria", "Georgia", "Toppan Bunkyu Mincho",
    "Hiragino Mincho ProN", "Meiryo", "Noto Serif CJK JP", serif;

  --text-leading: 1.625rem;
  --text-width: 48rem;
  --text-scale-1: pow(var(--text-scale-base), 6);
  --text-scale-2: pow(var(--text-scale-base), 5);
  --text-scale-3: pow(var(--text-scale-base), 4);
  --text-scale-4: pow(var(--text-scale-base), 3);
  --text-scale-5: pow(var(--text-scale-base), 2);
  --text-scale-6: pow(var(--text-scale-base), 1);
  --text-scale-7: pow(var(--text-scale-base), -1);
  --text-scale-8: pow(var(--text-scale-base), -2);
  --text-scale-9: pow(var(--text-scale-base), -3);
  --text-scale-base: 1.125;

  --default-border: var(--default-3);
  --default-light: rgb(from var(--default-0) r g b / 0.5);
  --default-shadow: rgb(from var(--default-10) r g b / 0.1);
  --default-0: #ffffff;
  --default-1: #f0f4f7;
  --default-2: #d9e4ea;
  --default-3: #a2b3bd;
  --default-4: #829faf;
  --default-5: #5d879b;
  --default-6: #245063;
  --default-7: #203d4a;
  --default-8: #1d2e37;
  --default-9: #121d22;
  --default-10: #0a0f11;

  --primary-border: var(--primary-4);
  --primary-light: rgb(from var(--primary-0) r g b / 0.5);
  --primary-shadow: rgb(from var(--primary-10) r g b / 0.1);
  --primary-0: #ffffff;
  --primary-1: #f5f2fe;
  --primary-2: #e6defe;
  --primary-3: #b4a8e9;
  --primary-4: #9b8df8;
  --primary-5: #746eff;
  --primary-6: #2639be;
  --primary-7: #232c8e;
  --primary-8: #242365;
  --primary-9: #18163f;
  --primary-10: #110a1f;

  --secondary-border: var(--secondary-4);
  --secondary-light: rgb(from var(--secondary-0) r g b / 0.5);
  --secondary-shadow: rgb(from var(--secondary-10) r g b / 0.1);
  --secondary-0: #ffffff;
  --secondary-1: #fef0f4;
  --secondary-2: #fdd9e3;
  --secondary-3: #e09fb1;
  --secondary-4: #e47a9d;
  --secondary-5: #e04683;
  --secondary-6: #96024d;
  --secondary-7: #73073b;
  --secondary-8: #55112d;
  --secondary-9: #350d1c;
  --secondary-10: #1c080e;
}
