.StackedArticleNav {
  --radius: 0.5rem;
  display: flex;
  box-shadow: 0 0 2px 1px var(--color-shadow);

  &.vertical {
    --direction: vertical;
    border-end-start-radius: var(--radius);
    border-start-start-radius: var(--radius);
    flex-direction: column;
  }

  &.horizontal {
    --direction: horizontal;
    border-start-start-radius: var(--radius);
    border-start-end-radius: var(--radius);
    flex-direction: row;
  }
}

.StackedArticleNav-Button {
  background-color: var(--neutral-2);
  color: var(--neutral-10);
  border: 0 solid var(--neutral-4);
  box-shadow:
    inset 1px 0 var(--color-highlight),
    inset 0 1px var(--color-highlight),
    inset -1px 0 var(--color-highlight),
    inset 0 -1px var(--color-highlight);

  @container style(--direction: horizontal) {
    & {
      block-size: 2rem;
      border-block-start-width: 1px;
      border-inline-start-width: 1px;
      inline-size: 2.5rem;
    }

    &:first-child {
      border-start-start-radius: var(--radius);
    }

    &:last-child {
      border-start-end-radius: var(--radius);
      border-inline-end-width: 1px;
    }
  }

  @container style(--direction: vertical) {
    & {
      block-size: 2rem;
      border-block-start-width: 1px;
      border-inline-start-width: 1px;
      inline-size: 2rem;
    }

    &:first-child {
      border-start-start-radius: var(--radius);
    }

    &:last-child {
      border-end-start-radius: var(--radius);
      border-block-end-width: 1px;
    }
  }

  &:hover {
    background-color: var(--neutral-3);
  }
}

.StackedArticleNav-Button-icon {
  place-self: center;
}
