.StackedArticleNav {
  --radius: 0.5rem;
  box-shadow: 0 0 2px 1px var(--default-shadow);
  display: flex;

  &.vertical {
    --direction: vertical;
    border-bottom-left-radius: var(--radius);
    border-top-left-radius: var(--radius);
    flex-direction: column;
  }

  &.horizontal {
    --direction: horizontal;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    flex-direction: row;
  }
}

.StackedArticleNav-Button {
  background-color: var(--default-2);
  border-color: var(--default-border);
  border-style: solid;
  box-shadow:
    inset 0 1px var(--default-light),
    inset 1px 0 var(--default-light),
    inset 0 -1px var(--default-light),
    inset -1px 0 var(--default-light),
    0 1px var(--default-shadow);
  color: var(--default-10);
  box-sizing: border-box;

  @container style(--direction: horizontal) {
    & {
      block-size: 2rem;
      inline-size: 2.5rem;
      border-width: 1px 1px 0;
    }

    &:first-child {
      border-top-left-radius: var(--radius);
    }

    &:last-child {
      border-top-right-radius: var(--radius);
    }
  }

  @container style(--direction: vertical) {
    & {
      block-size: 2rem;
      inline-size: 2rem;
      border-width: 1px 0 1px 1px;
    }

    &:first-child {
      border-top-left-radius: var(--radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--radius);
    }
  }

  &:hover {
    background-color: var(--default-3);
  }
}

.StackedArticleNav-Button-icon {
  place-self: center;
}
