.StreamPage {
  --StreamPage-headerSize: 2rlh;
}

.StreamPage-Header {
  background-color: white;
  block-size: var(--StreamPage-headerSize);
  border-bottom: 1px solid rgb(from var(--slate-6) r g b / 0.2);
  display: grid;
  place-items: stretch;
  position: sticky;
  top: 0;
  z-index: 1;
}
