.StreamPage-Header {
  background-color: var(--default-2);
  box-shadow:
    inset 0 1px var(--default-light),
    inset 1px 0 var(--default-light),
    inset 0 -1px var(--default-light),
    inset -1px 0 var(--default-light),
    0 1px var(--default-border),
    0 2px 1px var(--default-shadow);
  color: var(--default-10);
  display: grid;
  grid-template-columns: minmax(auto, var(--text-width));
  height: 2rlh;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
