.StreamNav {
  background-color: var(--primary-2);
  border-bottom: 1px solid var(--primary-border);
  box-shadow:
    inset 0 1px 0 var(--primary-light),
    inset 0 -1px 0 var(--primary-shadow);
  color: var(--primary-10);
  display: grid;
  line-height: 1.5;
  min-inline-size: 0;
  padding-inline: 1.5rlh;
  place-content: center stretch;
}

.StreamNav-title,
.StreamNav-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.StreamNav-title {
  font-size: calc(1rem * var(--text-scale-7));
}

.StreamNav-subtitle {
  color: var(--primary-6);
  font-size: calc(1rem * var(--text-scale-8));
}
