.StreamPage-Header {
  background-color: var(--neutral-2);
  box-shadow:
    inset 0 1px var(--color-highlight),
    inset 1px 0 var(--color-highlight),
    inset 0 -1px var(--color-highlight),
    inset -1px 0 var(--color-highlight),
    0 1px var(--neutral-4),
    0 2px 1px var(--color-shadow);
  color: var(--neutral-10);
  display: grid;
  grid-template-columns: minmax(auto, var(--text-width));
  height: 2rlh;
  justify-content: center;
  position: sticky;
  padding-inline: 1rem;
  top: 0;
  z-index: 1;
}

@container not style(--breakpoint: small) {
  .StreamPage-Header {
    padding-inline: 3rem;
  }
}
