.StreamNav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  min-inline-size: 0;
  padding-inline: 1rlh;
}

.StreamNav-Middle {
  flex: 1;
  min-width: 0;
}

.StreamNav-title,
.StreamNav-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.375;
}

.StreamNav-title {
  font-size: calc(1rem * var(--text-scale-7));
}

.StreamNav-subtitle {
  color: var(--default-6);
  font-size: calc(1rem * var(--text-scale-8));
}
