.StreamNav {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 0.5rem;
  min-inline-size: 0;
}

.StreamNav-Side {
  display: flex;
}

.StreamNav-Content {
  flex: 1;
  min-width: 0;
  line-height: 1.375;
}

.StreamNav-feedTitle {
  font-size: calc(1rem * var(--text-scale-7));
}

.StreamNav-articleTitle {
  color: var(--default-6);
  font-size: calc(1rem * var(--text-scale-8));
}

.StreamNav-Button {
  block-size: 1.5rlh;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: var(--default-6);
  display: flex;
  inline-size: 3rem;
  justify-content: center;

  &:hover {
    background-color: var(--default-3);
  }
}

.StreamNav-Button-icon {
  align-self: center;
  color: var(--icon-color);
}
