.badge {
  padding: 0 0.5rem;
  min-width: var(--baseline-height);
  box-sizing: border-box;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
}

.badge-overlap {
  position: absolute;
  top: 2px;
  right: 2px;
}

.badge-positive {
  background: var(--positive-color);
  color: var(--default-background-color);
}

.badge-negative {
  background: var(--negative-color);
  color: var(--default-background-color);
}
