.badge {
  box-sizing: border-box;
  padding: 0 2px;
  min-width: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.badge-overlap {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
}

.badge-positive {
  background-color: var(--positive-color);
  color: var(--default-background-color);
}

.badge-negative {
  background-color: var(--negative-color);
  color: var(--default-background-color);
}
