.badge {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 2px;
  padding: 0 3px;
  border-radius: 4px;
  min-width: 20px;
  line-height: 20px;
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}

.badge-small {
  padding-left: 2px;
  padding-right: 2px;
  min-width: 16px;
  line-height: 16px;
  font-size: 0.75rem;
}

.badge-large {
  padding-left: 4px;
  padding-right: 4px;
  min-width: 24px;
  line-height: 24px;
  font-size: 1rem;
}

.badge-overlap {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 10;
}

.badge-pill {
  border-radius: 50%;
}

.badge-default,
a.badge-default {
  background-color: var(--medium-light-color);
  color: var(--dark-color);
}

.badge-positive,
a.badge-positive {
  background-color: var(--positive-background-color);
  color: var(--positive-color);
}

.badge-negative,
a.badge-negative {
  background-color: var(--negative-background-color);
  color: var(--negative-color);
}

.badge-pill.badge-positive,
a.badge-pill.badge-positive {
  background-color: var(--positive-color);
  color: var(--x-light-color);
}

.badge-pill.badge-negative,
a.badge-pill.badge-negative {
  background-color: var(--negative-color);
  color: var(--x-light-color);
}
