@custom-media --sm-viewport (min-width: 576px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --lg-viewport (min-width: 980px);

:root {
  $default-color: #203442;
  $default-background-color: #ffffff;

  $positive-color: #2eabff;
  $positive-background-color: #e0f3ff;

  $negative-color: #ee6969;
  $negative-background-color: #fbdbdb;

  $mark-color: #f1a962;
  $mark-background-color: #f9efc4;

  $tint-color: #f7f9fc;
  $light-color: #e8edf2;
  $medium-color: #d3dbe3;
  $dark-color: #7e8998;

  --default-color: $default-color;
  --default-background-color: $default-background-color;
  --default-hover-color: color($default-color lightness(+5%));
  --default-active-color: color($default-color lightness(+5%) alpha(90%));
  --default-focus-outline-color: color($default-color alpha(50%));

  --invert-color: $default-background-color;
  --invert-background-color: $default-color;
  --invert-hover-color: color($default-background-color lightness(-5%));
  --invert-active-color: color($default-background-color lightness(-5%) alpha(90%));
  --invert-focus-outline-color: color($default-background-color alpha(50%));

  --positive-color: $positive-color;
  --positive-background-color: $positive-background-color;
  --positive-hover-color: color($positive-color lightness(+5%));
  --positive-active-color: color($positive-color lightness(+5%) alpha(90%));
  --positive-focus-outline-color: color($positive-color alpha(50%));

  --negative-color: $negative-color;
  --negative-background-color: $negative-background-color;
  --negative-hover-color: color($negative-color lightness(+5%));
  --negative-active-color: color($negative-color lightness(+5%) alpha(90%));
  --negative-focus-outline-color: color($negative-color alpha(50%));

  --mark-color: $mark-color;
  --mark-background-color: $mark-background-color;

  --tint-color: $tint-color;
  --light-color: $light-color;
  --medium-color: $medium-color;
  --dark-color: $dark-color;

  --shadow-color: color($default-color alpha(20%));

  --font-size: 14px;
  --baseline-height: 24px;
  --navbar-height: 48px;
  --sidebar-width: 288px;
  --container-width: 800px;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

::selection {
  background-color: var(--positive-color);
  color: var(--default-background-color);
}

html, body {
  font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular', 'San Francisco Text', 'Segoe UI', 'Helvetica', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  font-size: var(--font-size);
  line-height: var(--baseline-height);
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--default-color);
  background-color: var(--default-background-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 2.0rem;
  line-height: calc(var(--baseline-height) * 2);
}

h2, h3, h4, h5, h6 {
  margin-bottom: calc(var(--baseline-height) / 2);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

hr {
  margin: calc(var(--baseline-height) + 6px) auto;
  width: 72px;
  height: 12px;
  border: 0;
  background-color: var(--light-color);
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle cx="1" cy="0.5" r="0.5"/></svg>');
  mask-repeat: repeat;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin: 0 0 var(--baseline-height);
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 0 1.5rem;
}

pre, code, var, samp {
  font-family: Consolas, Menlo, Monaco, monospace;
}

code, var, samp {
  line-height: 1;
  background-color: var(--positive-background-color);
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  background-color: var(--tint-color);
  border: 1px solid var(--medium-color);
  padding: calc(var(--baseline-height) / 2 - 1px) calc(1.5rem - 1px);
  overflow: auto;
  border-radius: 4px;
}

pre * {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

blockquote {
  position: relative;
  border-left: 4px solid var(--light-color);
  padding: calc(var(--baseline-height) / 2) 1.5rem calc(var(--baseline-height) / 2) calc(1.5rem - 4px);
}

blockquote > p:last-child {
  margin-bottom: 0;
}

ul, ol {
  padding: 0 0 0 1.5rem;
}

ol ol, ol ul, ul ol, ul ul {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: calc(var(--baseline-height) / 4) 1rem;
  text-align: left;
}

.table thead th {
  padding-bottom: calc(var(--baseline-height) / 4 - 2px);
  border-bottom: 2px solid var(--medium-color);
}

.table td,
.table th {
  padding-bottom: calc(var(--baseline-height) / 4 - 1px);
  border-bottom: 1px solid var(--medium-color);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--tint-color);
}

caption {
  font-weight: 600;
  caption-side: bottom;
  color: var(--dark-color);
  text-align: center;
  margin: calc(var(--baseline-height) / 2) 0;
}

a {
  color: var(--positive-color);
  text-decoration: none;
  text-decoration-skip: ink;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
  font-style: normal;
}

mark {
  background-color: var(--mark-background-color);
  padding: 2px 4px;
  border-radius: 4px;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="text"]:focus {
  outline: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

:placeholder-shown,
::-webkit-input-placeholder {
  color: var(--dark-color);
}
