@custom-media --sm-viewport (min-width: 576px);
@custom-media --md-viewport (min-width: 768px);
@custom-media --lg-viewport (min-width: 980px);

:root {
  --default-color: #222222;
  --default-background-color: #ffffff;

  --light-color: #fafafa;
  --medium-light-color: #ececec;
  --medium-color: #dfdfdf;
  --dark-color: #7a7a7a;

  --positive-color: #0074bf;
  --positive-light-color: #d6eaf4;

  --negative-color: #bf0015;
  --negative-light-color: #f4d6db;

  --font-size: 14px;
  --baseline-height: 24px;
  --navbar-height: 48px;
  --sidebar-width: 288px;
  --container-width: 800px;
}

html, body {
  font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular', 'San Francisco Text', 'Segoe UI', 'Helvetica', 'YuGothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  font-size: var(--font-size);
  line-height: var(--baseline-height);
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: var(--default-color);
  background-color: var(--default-background-color);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 2.0rem;
  line-height: calc(var(--baseline-height) * 2);
}

h2, h3, h4, h5, h6 {
  margin-bottom: calc(var(--baseline-height) / 2);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

hr {
  position: relative;
  border: 0;
  border-top: 4px double var(--medium-color);
  margin: calc(var(--baseline-height) - 2px) 0 calc(var(--baseline-height) - 2px);
}

hr::before {
  content: "\00a7";
  position: absolute;
  background: var(--default-background-color);
  left: 50%;
  width: 1.5em;
  text-align: center;
  font-size: 1.5rem;
  transform: translate(-50%, -50%);
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin: 0 0 var(--baseline-height);
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 0 1.5rem;
}

pre, code, var, samp {
  font-family: Consolas, Menlo, Monaco, monospace;
}

code, var, samp {
  line-height: 1;
}

pre {
  background-color: var(--light-color);
  padding: calc(var(--baseline-height) / 2) 1.5rem;
  overflow: auto;
  border-radius: 4px;
}

blockquote {
  border-left: 2px solid var(--medium-color);
  padding: calc(var(--baseline-height) / 2) 1.5rem calc(var(--baseline-height) / 2) calc(1.5rem - 2px);
}

blockquote > p:last-child {
  margin-bottom: 0;
}

ul, ol {
  padding: 0 0 0 1.5rem;
}

ol ol, ol ul, ul ol, ul ul {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: calc(var(--baseline-height) / 4) 1rem;
  text-align: left;
}

.table thead th {
  padding-bottom: calc(var(--baseline-height) / 4 - 2px);
  border-bottom: 2px solid var(--medium-color);
}

.table td,
.table th {
  padding-bottom: calc(var(--baseline-height) / 4 - 1px);
  border-bottom: 1px solid var(--medium-color);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--light-color);
}

caption {
  font-weight: bold;
  caption-side: bottom;
  color: var(--dark-color);
  text-align: center;
  margin: calc(var(--baseline-height) / 2) 0;
}

a {
  color: var(--positive-color);
  text-decoration: none;
  text-decoration-skip: ink;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
  font-style: normal;
}

mark {
  font-weight: 600;
  font-style: normal;
  background-color: var(--positive-light-color);
  padding: 2px;
}

code, var, samp {
  background-color: var(--light-color);
  padding: 2px;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="text"]:focus {
  outline: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

:placeholder-shown,
::-webkit-input-placeholder {
  color: var(--dark-color);
}
