.button {
  display: inline-block;
  box-sizing: border-box;
  padding: calc(var(--baseline-height) / 4 - 1px) 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  transition-property: background-color, border-color, box-shadow, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  text-decoration: none;
}

.button:disabled {
  opacity: 0.65;
}

.button-default {
  background-color: var(--default-color);
  color: var(--default-background-color);

  &:hover {
    background-color: var(--default-hover-color);
  }

  &:active {
    background-color: var(--default-active-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--default-focus-outline-color);
  }

  &:disabled {
    background-color: var(--default-color);
  }
}

.button-positive {
  background-color: var(--positive-color);
  color: var(--default-background-color);

  &:hover {
    background-color: var(--positive-hover-color);
  }

  &:active {
    background-color: var(--positive-active-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--positive-focus-outline-color);
  }

  &:disabled {
    background-color: var(--positive-color);
  }
}

.button-negative {
  background-color: var(--negative-color);
  color: var(--default-background-color);

  &:hover {
    background-color: var(--negative-hover-color);
  }

  &:active {
    background-color: var(--negative-active-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--negative-focus-outline-color);
  }

  &:disabled {
    background-color: var(--negative-color);
  }
}

.button-outline-default {
  background-color: var(--default-background-color);
  border-color: var(--default-color);
  color: var(--default-color);

  &:hover {
    background-color: var(--default-color);
    border-color: transparent;
    color: var(--default-background-color);
  }

  &:active {
    background-color: var(--default-active-color);
    border-color: transparent;
    color: var(--default-background-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--default-focus-outline-color);
  }

  &:disabled {
    background-color: var(--default-background-color);
    border-color: var(--default-color);
    color: var(--default-color);
  }
}

.button-outline-positive {
  color: var(--positive-color);
  background-color: var(--default-background-color);
  border-color: var(--positive-color);

  &:hover {
    background-color: var(--positive-color);
    border-color: transparent;
    color: var(--default-background-color);
  }

  &:active {
    background-color: var(--positive-active-color);
    border-color: transparent;
    color: var(--default-background-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--positive-focus-outline-color);
  }

  &:disabled {
    color: var(--positive-color);
    background-color: var(--default-background-color);
    border-color: var(--positive-color);
  }
}

.button-outline-negative {
  color: var(--negative-color);
  background-color: var(--default-background-color);
  border-color: var(--negative-color);

  &:hover {
    background-color: var(--negative-color);
    border-color: transparent;
    color: var(--default-background-color);
  }

  &:active {
    background-color: var(--negative-active-color);
    border-color: transparent;
    color: var(--default-background-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--negative-focus-outline-color);
  }

  &:disabled {
    color: var(--negative-color);
    background-color: var(--default-background-color);
    border-color: var(--negative-color);
  }
}

.button-block {
  display: block;
  width: 100%;
}

.button-large {
  padding: calc(var(--baseline-height) / 2 - 1px) 1.25rem;
  font-size: 1.25rem;
}

.button-toolbar > .button + .button,
.button-toolbar > .button + .button-toolbar,
.button-toolbar > .button-toolbar + .button,
.button-toolbar > .button-toolbar + .button-toolbar {
  margin-left: 0.5rem;
}

.close {
  float: right;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  border: 0;
  color: inherit;
  cursor: pointer;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 7.21875 5.78125 L 5.78125 7.21875 L 14.5625 16 L 5.78125 24.78125 L 7.21875 26.21875 L 16 17.4375 L 24.78125 26.21875 L 26.21875 24.78125 L 17.4375 16 L 26.21875 7.21875 L 24.78125 5.78125 L 16 14.5625 L 7.21875 5.78125 z"></path></svg>') 50% 50% / 16px 16px no-repeat;
}

.close:hover {
  color: var(--positive-color);
}
