.button {
  display: inline-block;
  padding: calc(var(--baseline-height) / 4 - 1px) 1rem;
  background: inherit;
  border: 1px solid transparent;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  box-shadow: 0px 1px 2px color(var(--default-color) alpha(25%));
  transition-property: background-color, border-color, color, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: none;
}

.button-default {
  background: var(--default-background-color);
  border-color: var(--dark-color);
  color: var(--default-color);
}

.button-default:hover {
  background: var(--default-color);
  border-color: transparent;
  color: var(--default-background-color);
}

.button-default:active {
  background: color(var(--default-color) lightness(+5%) alpha(90%));
  border-color: transparent;
  color: var(--default-background-color);
}

.button-default:focus {
  box-shadow: 0 0 0 2px color(var(--default-color) alpha(50%));
}

.button-invert {
  background: var(--default-color);
  border-color: var(--default-background-color);
  color: var(--default-background-color);
}

.button-invert:hover {
  background: var(--default-background-color);
  border-color: transparent;
  color: var(--default-color);
}

.button-invert:active {
  background: color(var(--default-background-color) lightness(+5%) alpha(90%));
  border-color: transparent;
  color: var(--default-color);
}

.button-invert:focus {
  box-shadow: 0 0 0 2px color(var(--default-background-color) alpha(50%));
}

.button-positive {
  color: var(--default-background-color);
  background: var(--positive-color);
}

.button-positive:hover {
  background: color(var(--positive-color) lightness(+5%));
}

.button-positive:active {
  background: color(var(--positive-color) lightness(+5%) alpha(90%));
}

.button-positive:focus {
  box-shadow: 0 0 0 2px color(var(--positive-color) alpha(80%));
}

.button-negative {
  color: var(--default-background-color);
  background: var(--negative-color);
}

.button-negative:hover {
  background: color(var(--negative-color) lightness(+5%));
}

.button-negative:active {
  background: color(var(--negative-color) lightness(+5%) alpha(90%));
}

.button-negative:focus {
  box-shadow: 0 0 0 2px color(var(--negative-color) alpha(50%));
}

.button-block {
  display: block;
  width: 100%;
}

.button-large {
  padding: calc(var(--baseline-height) / 2 - 1px) 1.25rem;
  font-size: 1.25rem;
}

.button-close {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  line-height: 0;
  box-shadow: none;
}

.button-close:hover {
  opacity: 0.5;
}

.button-close:active {
  opacity: 0.25;
}

.button-toolbar .button + .button {
  margin-left: 0.5rem;
}
