.comment-list {
  margin: var(--baseline-height) 0;
  background-color: var(--light-color);
}

.comment {
  padding: calc(var(--baseline-height) / 4) 0;
}

.comment + .comment {
  padding-top: calc(var(--baseline-height) / 4 - 1px);
  border-top: 1px solid var(--medium-dark-color);
}

.comment-user {
  font-weight: 600;
  margin-right: 0.5rem;
}

.comment-comment {
  margin-right: 0.5rem;
}

.comment-timestamp {
  color: var(--dark-color);
}
