.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  margin: 0 0 calc(var(--baseline-height) / 2);
  font-weight: 200;
}

.display-1 {
  font-size: 2.5rem;
  line-height: calc(var(--baseline-height) * 2);
}

.display-2 {
  font-size: 2.0rem;
  line-height: calc(var(--baseline-height) * 2);
}

.display-3 {
  font-size: 1.5rem;
  line-height: var(--baseline-height);
}

.display-4 {
  font-size: 1.375rem;
  line-height: var(--baseline-height);
}

.display-5 {
  font-size: 1.25rem;
  line-height: var(--baseline-height);
}

.display-6 {
  font-size: 1.125rem;
  line-height: var(--baseline-height);
}
