.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown > .menu {
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0;
  z-index: 2000;
  opacity: 0;
  transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
}

.dropdown > .menu-right {
  left: auto;
  right: 0;
}

.dropdown.is-opened > .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
