.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown > .menu {
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0;
  min-width: 192px;
  max-width: calc(100vw - 100%);
  max-height: calc(100vh - 100%);
  z-index: 2000;
  opacity: 0;
  overflow-y: auto;
  transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.dropdown.is-pull-right > .menu {
  left: auto;
  right: 0;
}

.dropdown.is-opened > .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media (--md-viewport) {
  .dropdown > .menu {
    max-width: 480px;
  }
}

.dropdown-arrow::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.25rem;
  vertical-align: middle;
  border-top: 0.25rem solid;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}
