.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-block {
  display: block;
  position: relative;
}

.dropdown-menu {
  display: flex;
  align-items: stretch;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 192px;
  max-width: calc(100vw - 100%);
  max-height: calc(100vh - 100%);
  z-index: 2000;
}

.dropdown-menu > .menu {
  width: 100%;
  overflow-y: auto;
}

@media (--md-viewport) {
  .dropdown-menu {
    max-width: 480px;
  }
}

.dropdown-menu.is-pull-right {
  left: auto;
  right: 0;
}

.dropdown-menu.is-pull-up {
  top: auto;
  bottom: 100%;
}

.dropdown-arrow::after,
.dropup-arrow::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.25rem;
  vertical-align: middle;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.dropdown-arrow::after {
  border-top: 0.25rem solid;
}

.dropup-arrow::after {
  border-bottom: 0.25rem solid;
}
