.entry {
  position: relative;
  padding: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
  border-bottom: 1px solid var(--medium-color);
  transition: box-shadow 0.2s ease-in-out;

  & .close {
    display: none;
  }
}

.entry.is-active {
  box-shadow: 0 2px 18px color(var(--default-color) alpha(25%)),
              0 0 6px color(var(--default-color) alpha(25%));
  z-index: 10;
}

.entry.is-collapsible:not(.is-expanded) {
  & .entry-description {
    display: block;
  }

  & .entry-title a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.25rem;
    vertical-align: middle;
    border-top: 0.25rem solid;
    border-right: 0.25rem solid transparent;
    border-left: 0.25rem solid transparent;
  }
}

.entry.is-collapsible.is-expanded {
  & .close {
    display: block;
  }
}

.entry.is-expanded {
  padding: var(--baseline-height) 0 calc(var(--baseline-height) - 1px);

  & .entry-content {
    display: block;
  }

  & .entry-header {
    margin: 0 0 var(--baseline-height);
    text-align: center;
  }

  & .entry-title {
    margin-bottom: calc(var(--baseline-height) / 2);
    font-size: 1.25rem;
  }

  & .entry-action-list {
    display: flex;
  }
}

.entry.is-unread {
  & .entry-title::before {
    content: '* ';
    color: var(--negative-color);
  }
}

.entry-title {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
}

.entry-info {
  color: var(--dark-color);
}

.entry-title a,
.entry-info a {
  color: inherit;
  text-decoration: none;
}

.entry-title a:hover,
.entry-info a:hover {
  color: var(--positive-color);
}

.entry-description {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-content {
  display: none;
  margin: 0 0 var(--baseline-height);
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
}

.entry-content img,
.entry-content video {
  max-width: 100%;
  height: auto;
}

.entry-action-list {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1;
}

.entry-action {
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 0 0.5rem;
}

.entry-action:hover {
  color: var(--positive-color);
  text-decoration: none;
}

.entry-latest {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  font-weight: 600;
}

.entry-latest a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
