.feed-header {
  position: relative;
  padding: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
  background-color: var(--light-color);
  border-bottom: 1px solid var(--medium-color);
  z-index: 20;
}

.feed-header-content {
  display: flex;
  align-items: center;
  min-height: calc(var(--baseline-height) * 1.5);
}

.feed-metadata {
  flex: 1;
}

.feed-info {
  color: var(--dark-color);
}

.feed-info + .feed-info::before {
  content: '\00a0\00b7\00a0';
}

.feed-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--light-color);
  text-align: center;
  font-weight: 600;
}

.feed-footer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.entry {
  position: relative;
  padding: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
  border-bottom: 1px solid var(--medium-color);
  transition: box-shadow 0.2s ease-in-out;
}

.entry.is-active {
  box-shadow: 0 2px 18px color(var(--default-color) alpha(25%)),
              0 0 6px color(var(--default-color) alpha(25%));
  z-index: 10;
}

.entry.is-collapsible:not(.is-expanded) {
  & .entry-description {
    display: block;
  }
}

.entry.is-collapsible.is-expanded {
  & .entry-close {
    display: flex;
  }
}

.entry.is-expanded {
  padding: var(--baseline-height) 0 calc(var(--baseline-height) - 1px);

  & .entry-content {
    display: block;
  }

  & .entry-title {
    font-size: 1.25rem;
  }

  & .entry-infobar {
    margin-bottom: var(--baseline-height);
  }

  & .entry-actionbar {
    display: flex;
  }
}

.entry.is-unread {
  & .entry-title::after {
    content: '\00a0*';
    color: var(--negative-color);
  }
}

.entry:hover .entry-toolbar {
  visibility: visible;
}

.entry-toolbar {
  display: flex;
  float: right;
  visibility: hidden;
}

.entry-toolbar-item,
a.entry-toolbar-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: inherit;
  width: 32px;
  height: 32px;
  border: 1px solid var(--medium-color);
  border-radius: 100%;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a.entry-toolbar-item:hover {
  color: var(--positive-color);
  border-color: var(--positive-color);
}

.entry-toolbar-item.entry-close {
  display: none;
}

.entry-toolbar-item + .entry-toolbar-item {
  margin-left: 0.5rem;
}

.entry-title {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;

  & > a {
    color: inherit;
    text-decoration: none;
  }

  & > a:hover {
    color: var(--positive-color);
  }
}

.entry-infobar-item,
a.entry-infobar-item {
  color: var(--dark-color);
  text-decoration: none;
}

a.entry-infobar-item:hover {
  color: var(--positive-color);
}

.entry-infobar-item + .entry-infobar-item::before {
  content: '\00a0\00b7\00a0';
}

.entry-infobar-bookmarks {
  padding: 2px;
  border-radius: 4px;
}

.entry-infobar-bookmarks.is-bookmarked {
  color: var(--negative-color);
}

.entry-infobar-bookmarks.is-popular {
  font-weight: 600;
}

.entry-infobar-bookmarks.is-very-popular {
  background-color: var(--negative-light-color);
}

.entry-description {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-content {
  display: none;
  margin: 0 0 var(--baseline-height);
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;

  & img,
  & video {
    max-width: 100%;
    height: auto;
  }
}

.entry-actionbar {
  display: none;
  align-items: center;
  justify-content: center;
  height: calc(var(--baseline-height) * 2);
}

.entry-actionbar-item,
a.entry-actionbar-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: inherit;
  width: 36px;
  height: 36px;
  border: 1px solid var(--medium-color);
  border-radius: 100%;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.entry-actionbar-item + .entry-actionbar-item {
  margin-left: 0.5rem;
}

a.entry-actionbar-item:hover {
  color: var(--positive-color);
  border-color: var(--positive-color);
}
