.feed-header {
  position: relative;
  padding: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
  background-color: var(--light-color);
  border-bottom: 1px solid var(--medium-color);
  z-index: 20;
}

.feed-header-content {
  display: flex;
  align-items: center;
  min-height: calc(var(--baseline-height) * 1.5);
}

.feed-metadata {
  flex: 1;
}

.feed-info {
  color: var(--dark-color);
}

.feed-info + .feed-info::before {
  content: '\00a0\00b7\00a0';
}

.feed-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--light-color);
  text-align: center;
  font-weight: 600;
}

.feed-footer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
