.form-group {
  margin-bottom: calc(var(--baseline-height) / 2);
}

.form-group-heading {
  display: block;
  font-weight: 600;
}

.form-required::after {
  content: '\00a0*';
  color: var(--negative-color);
}

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--baseline-height) / 4 - 1px) calc(0.5rem - 1px);
  background-color: var(--default-background-color);
  border: 1px solid var(--medium-dark-color);
  border-radius: 4px;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;

  &:focus {
    box-shadow: 0 0 1px 1px var(--default-focus-outline-color);
    z-index: 1;
  }

  &.has-success {
    border-color: var(--positive-color);
    background-color: var(--default-background-color);
  }

  &.has-success:focus {
    box-shadow: 0 0 1px 1px var(--positive-focus-outline-color);
  }

  &.has-error {
    border-color: var(--negative-color);
    background-color: var(--default-background-color);
  }

  &.has-error:focus {
    box-shadow: 0 0 1px 1px var(--negative-focus-outline-color);
  }
}

.form-control-addon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  background-color: var(--light-color);
  border: 1px solid var(--medium-dark-color);
  border-radius: 4px;
  white-space: nowrap;

  &:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.form-check {
  margin-top: -1px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.form-check-label {
  display: block;
}

.input-group {
  display: flex;
  position: relative;
  width: 100%;

  & .form-control:not(:first-child) {
    border-left: 0;
  }

  & .form-control:not(:last-child) {
    border-right: 0;
  }

  & .button:not(:last-child),
  & .form-control:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  & .button:not(:first-child),
  & .form-control:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.input-search-box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--baseline-height) / 4) 0.5rem calc(var(--baseline-height) / 4 - 2px);
  background-color: transparent;
  border-bottom: 2px solid var(--default-color);
  border-radius: 0;
}

.input-search-box:focus {
  border-color: var(--positive-color);
}
