.form-group + .form-group {
  margin-top: calc(var(--baseline-height) / 2);
}

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--baseline-height) / 4 - 1px) calc(0.5rem - 1px);
  background-color: var(--default-background-color);
  border: 1px solid var(--medium-dark-color);
  border-radius: 4px;
  transition: border-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
}

.form-control:focus {
  box-shadow: 0 0 1px 1px var(--default-focus-outline-color);
  z-index: 1;
}

.form-control.has-success {
  border-color: var(--positive-color);
  background-color: var(--default-background-color);
}

.form-control.has-success:focus {
  box-shadow: 0 0 1px 1px var(--positive-focus-outline-color);
}

.form-control.has-error {
  border-color: var(--negative-color);
  background-color: var(--default-background-color);
}

.form-control.has-error:focus {
  box-shadow: 0 0 1px 1px var(--negative-focus-outline-color);
}

.form-control-label.is-required::after {
  content: '\00a0*';
  color: var(--negative-color);
}

.input-group {
  display: flex;
  position: relative;
  width: 100%;
}

.form-control-addon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  background-color: var(--light-color);
  border: 1px solid var(--medium-dark-color);
  border-radius: 4px;
  white-space: nowrap;
}

.input-group .form-control:not(:last-child) {
  border-right: 0;
}

.form-control-addon:not(:last-child),
.input-group .button:not(:last-child),
.input-group .form-control:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group .form-control:not(:first-child) {
  border-left: 0;
}

.form-control-addon:not(:first-child),
.input-group .button:not(:first-child),
.input-group .form-control:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-search-box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--baseline-height) / 4) 0.5rem calc(var(--baseline-height) / 4 - 2px);
  background-color: transparent;
  border-bottom: 2px solid var(--default-color);
  border-radius: 0;
}

.form-search-box:focus {
  border-color: var(--positive-color);
}
