input[type="text"] {
  background: var(--default-background-color);
  color: inherit;
  border: 1px solid var(--medium-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: calc(var(--baseline-height) / 4 - 1px) calc(0.5rem - 1px);
}

input[type="text"]:focus {
  border-color: var(--positive-color);
}

input.search-box {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--default-color);
  border-radius: 0;
  padding: calc(var(--baseline-height) / 4) calc(var(--baseline-height) / 4) calc(var(--baseline-height) / 4 - 2px);
  width: 100%;
}
