.icon {
  background-size: 100%;
  background-color: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.icon-menu {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 4 7 L 4 9 L 28 9 L 28 7 L 4 7 z M 4 15 L 4 17 L 28 17 L 28 15 L 4 15 z M 4 23 L 4 25 L 28 25 L 28 23 L 4 23 z"></path></svg>') no-repeat;
}

.icon-angle-right {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M12.97 4.28l-1.44 1.44L21.814 16 11.53 26.28l1.44 1.44 11-11 .686-.72-.687-.72-11-11z"/></svg>') no-repeat;
}

.icon-angle-down {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M4.22 10.78l-1.44 1.44 12.5 12.5.72.686.72-.687 12.5-12.5-1.44-1.44L16 22.564 4.22 10.78z"/></svg>') no-repeat;
}

.icon-more {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 6 14 C 4.8954305 14 4 14.895431 4 16 C 4 17.104569 4.8954305 18 6 18 C 7.1045695 18 8 17.104569 8 16 C 8 14.895431 7.1045695 14 6 14 z M 16 14 C 14.895431 14 14 14.895431 14 16 C 14 17.104569 14.895431 18 16 18 C 17.104569 18 18 17.104569 18 16 C 18 14.895431 17.104569 14 16 14 z M 26 14 C 24.895431 14 24 14.895431 24 16 C 24 17.104569 24.895431 18 26 18 C 27.104569 18 28 17.104569 28 16 C 28 14.895431 27.104569 14 26 14 z"></path></svg>') no-repeat;
}

.icon-refresh {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 4 C 10.888652 4 6.6170137 7.16109 4.875 11.625 L 6.71875 12.375 C 8.1767363 8.63891 11.711348 6 16 6 C 19.240366 6 22.133605 7.5895584 23.9375 10 L 20 10 L 20 12 L 26 12 L 27 12 L 27 11 L 27 5 L 25 5 L 25 8.09375 C 22.810028 5.580832 19.57094 4 16 4 z M 25.28125 19.625 C 23.823264 23.36109 20.288652 26 16 26 C 12.723524 26 9.8434309 24.388336 8.03125 22 L 12 22 L 12 20 L 6 20 L 5 20 L 5 21 L 5 27 L 7 27 L 7 23.90625 C 9.1885848 26.385518 12.394607 28 16 28 C 21.111348 28 25.382986 24.83891 27.125 20.375 L 25.28125 19.625 z"></path></svg>') no-repeat;
}

.icon-file {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M6 3v26h20V9.594l-.28-.313-6-6-.314-.28H6zm2 2h10v6h6v16H8V5zm12 1.438L22.563 9H20V6.437z"/></svg>') no-repeat;
}

.icon-bookmark {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M7 5v23l1.594-1.188L16 21.25l7.406 5.563L25 28V5H7zm2 2h14v17l-6.406-4.813L16 18.75l-.594.438L9 24V7z"/></svg>') no-repeat;
}

.icon-comments {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M3 6v20h9.563l2.718 2.72.72.686.72-.687L19.437 26H29V6H3zm2 2h22v16h-8.406l-.313.28L16 26.563l-2.28-2.28-.314-.282H5V8zm4 3v2h14v-2H9zm0 4v2h14v-2H9zm0 4v2h10v-2H9z"/></svg>') no-repeat;
}

.icon-share {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 4c-2.144 0-3.884 1.72-3.97 3.844C8.427 9.374 6 12.944 6 17c0 .17-.008.36 0 .563-1.185.696-2 1.972-2 3.437 0 2.197 1.803 4 4 4 .575 0 1.13-.122 1.625-.344C11.358 26.112 13.618 27 16 27s4.642-.888 6.375-2.344c.496.222 1.05.344 1.625.344 2.197 0 4-1.803 4-4 0-1.48-.825-2.777-2.03-3.47.015-.16.03-.32.03-.53 0-4.057-2.426-7.625-6.03-9.156C19.883 5.72 18.143 4 16 4zm0 2c1.116 0 2 .884 2 2s-.884 2-2 2-2-.884-2-2 .884-2 2-2zm-3.53 3.844C13.14 11.118 14.47 12 16 12c1.53 0 2.86-.882 3.53-2.156C22.21 11.144 24 13.88 24 17c-2.197 0-4 1.803-4 4 0 .895.31 1.706.813 2.375C19.474 24.387 17.756 25 16 25c-1.756 0-3.475-.613-4.813-1.625.503-.67.813-1.48.813-2.375 0-2.197-1.803-4-4-4 0-3.12 1.79-5.856 4.47-7.156zM8 19c1.116 0 2 .884 2 2s-.884 2-2 2-2-.884-2-2 .884-2 2-2zm16 0c1.116 0 2 .884 2 2s-.884 2-2 2-2-.884-2-2 .884-2 2-2z"/></svg>') no-repeat;
}

.icon-pin-3 {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M20.47 2.563l-.72.75c-1.045 1.15-1.542 2.605-1.656 4.062l-4.063 4.063c-2.47-.44-5.127.253-7.03 2.156l-.72.72.72.686 4.313 4.313L3 27.593V29h1.406l8.282-8.313 4.218 4.22.688.718.718-.72c2.096-2.094 2.69-4.973 2.063-7.56l3.563-3.564c1.737.208 3.513-.293 4.78-1.56l.688-.72-.687-.72-7.5-7.5-.75-.717zm.218 3.062l5.687 5.688c-.825.466-1.716.758-2.625.53l-.563-.155-.406.406-4.186 4.187-.438.44.188.593c.587 1.762.315 3.75-.844 5.375L9.312 14.5c1.455-1 3.206-1.46 4.844-1.03l.53.155.408-.406 4.625-4.626.28-.28v-.408c0-.803.293-1.563.688-2.28z"/></svg>') no-repeat;
}

.icon-checkmark {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M28.28 6.28L11 23.563l-7.28-7.28-1.44 1.437 8 8 .72.686.72-.687 18-18-1.44-1.44z"/></svg>') no-repeat;
}

.icon-info {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 3C8.832 3 3 8.832 3 16s5.832 13 13 13 13-5.832 13-13S23.168 3 16 3zm0 2c6.087 0 11 4.913 11 11s-4.913 11-11 11S5 22.087 5 16 9.913 5 16 5zm-1 5v2h2v-2h-2zm0 4v8h2v-8h-2z"/></svg>') no-repeat;
}

.icon-checked {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M16 3C8.8 3 3 8.8 3 16s5.8 13 13 13 13-5.8 13-13c0-1.4-.188-2.794-.688-4.094L26.688 13.5c.2.8.313 1.6.313 2.5 0 6.1-4.9 11-11 11S5 22.1 5 16 9.9 5 16 5c3 0 5.694 1.194 7.594 3.094L25 6.688C22.7 4.388 19.5 3 16 3zm11.28 4.28L16 18.563l-4.28-4.28-1.44 1.437 5 5 .72.686.72-.687 12-12-1.44-1.44z"/></svg>') no-repeat;
}

.icon-warning {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 16 3.21875 L 15.125 4.71875 L 3.125 25.5 L 2.28125 27 L 4 27 L 28 27 L 29.71875 27 L 28.875 25.5 L 16.875 4.71875 L 16 3.21875 z M 16 7.21875 L 26.25 25 L 5.75 25 L 16 7.21875 z M 15 14 L 15 20 L 17 20 L 17 14 L 15 14 z M 15 21 L 15 23 L 17 23 L 17 21 L 15 21 z"></path></svg>') no-repeat;
}

.icon-delete {
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M 7.21875 5.78125 L 5.78125 7.21875 L 14.5625 16 L 5.78125 24.78125 L 7.21875 26.21875 L 16 17.4375 L 24.78125 26.21875 L 26.21875 24.78125 L 17.4375 16 L 26.21875 7.21875 L 24.78125 5.78125 L 16 14.5625 L 7.21875 5.78125 z"></path></svg>') no-repeat;
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.icon-20 {
  width: 20px;
  height: 20px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-32 {
  width: 32px;
  height: 32px;
}

.icon-48 {
  width: 48px;
  height: 48px;
}

.icon-size-16,
.icon-size-24,
.icon-size-32 {
  mask-position: 50% 50%;
}

.icon-size-16 {
  mask-size: 16px 16px;
}

.icon-size-24 {
  mask-size: 24px 24px;
}

.icon-size-32 {
  mask-size: 32px 32px;
}
