.l-sidebar {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: calc(-var(--sidebar-width));
  width: var(--sidebar-width);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--light-color);
  border-right: 1px solid var(--medium-color);
  z-index: 200;
  transition: left 0.2 ease-in-out;
}

.l-sidebar.is-active {
  left: 0;
}

.l-sidebar.is-active + .l-main {
  margin-left: var(--sidebar-width);
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: margin 0.2s ease-in-out, transform 0.2s ease-in-out;
  transform: translateY(-100%);
}

.l-header.is-pinned {
  transform: translateY(0);
}

.l-header + .l-main {
  margin-top: var(--navbar-height);
}

@media (min-width: 768px) {
  .l-sidebar {
    left: 0;
  }

  .l-main {
    margin-left: var(--sidebar-width);
  }

  .l-header {
    margin-left: var(--sidebar-width);
  }
}
