.l-container {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.l-container::before {
  content: '';
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  opacity: 0;
  background: #000;
  transition: visibility 0s ease-in-out 0.2s, opacity 0.2s ease-in-out;
}

.l-container.is-opened::before {
  visibility: visible;
  opacity: 0.5;
  transition-delay: 0s;
}

.l-container.is-opened .l-sidebar {
  left: 0;
}

.l-container.is-opened .l-main {
  padding-left: var(--sidebar-width);
  overflow: hidden;
}

.l-container.is-opened .l-header {
  padding-left: var(--sidebar-width);
}

.l-sidebar {
  position: fixed;
  top: 0;
  left: calc(-var(--sidebar-width));
  width: var(--sidebar-width);
  height: 100%;
  z-index: 300;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--light-color);
  border-right: 1px solid var(--medium-color);
  transition: left 0.2s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.l-main {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: padding 0.2s ease-in-out;
  -webkit-overflow-scrolling: touch;
}

.l-main-inner {
  padding-top: var(--navbar-height);
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.l-header.is-pinned {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .l-sidebar {
    left: 0;
  }

  .l-main,
  .l-header {
    padding-left: var(--sidebar-width);
    box-sizing: border-box;
  }
}
