.list-inline {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline > .list-inline-item + .list-inline-item::before {
  content: '\00a0/\00a0';
  color: var(--dark-color);
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--baseline-height);
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--baseline-height) / 4) 1rem;
  color: inherit;
  border-color: var(--medium-color);
  border-width: 0;
  border-style: solid;
  text-decoration: none;
}

.list-group-item:first-child,
.list-group-item + .list-group-item {
  border-top-width: 1px;
  padding-top: calc(var(--baseline-height) / 4 - 1px);
}

.list-group-item:last-child,
.list-group-item + .list-group-item {
  border-bottom-width: 1px;
  padding-bottom: calc(var(--baseline-height) / 4 - 1px);
}

.list-group-item p:last-child {
  margin-bottom: 0;
}

a.list-group-item:hover {
  background-color: var(--light-color);
  text-decoration: none;
}
