.modal {
  background: var(--default-color);
  color: var(--default-background-color);
  border-radius: 4px;
  padding: calc(var(--baseline-height) / 2) 0 var(--baseline-height);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1.5rem;
}

.modal-header,
.modal-footer,
.modal-body {
  padding: 0 1.5rem;
}
