.nav {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
  box-shadow: 0 2px 2px color(var(--default-color) alpha(25%)),
              0 0 1px color(var(--default-color) alpha(25%));
}

.nav-item {
  flex: 1;
  padding: calc(var(--baseline-height) / 4 - 1px) 1.5rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.nav-item:first-child {
  border-radius: 4px 0 0 4px;
}

.nav-item:last-child {
  border-radius: 0 4px 4px 0;
}

.nav-item:hover {
  background-color: var(--light-color);
  text-decoration: none;
}

.nav-item + .nav-item {
  border-left: 1px solid var(--dark-color);
  padding-left: calc(1.5rem - 1px);
}

.nav-item:active,
.nav-item.is-selected {
  background-color: var(--medium-color);
}
