.nav {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid var(--default-color);
  max-width: 100%;
}

.nav-header {
  margin: var(--baseline-height) 0;
  text-align: center;
}

.nav-item {
  padding: calc(var(--baseline-height) / 4 - 1px) 1.5rem;
  min-height: var(--baseline-height);
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-item:first-child {
  border-radius: 4px 0 0 4px;
}

.nav-item:last-child {
  border-radius: 0 4px 4px 0;
}

.nav-item:hover {
  background-color: var(--light-color);
  text-decoration: none;
}

.nav-item + .nav-item {
  border-left: 1px solid var(--default-color);
  padding-left: calc(1.5rem - 1px);
}

.nav-item:active,
.nav-item.is-selected {
  background-color: var(--medium-light-color);
}
