.navbar {
  box-sizing: border-box;
  border-bottom: 1px solid var(--medium-color);
  background-color: var(--default-background-color);
  height: var(--navbar-height);
  backface-visibility: hidden;
}

.navbar-container {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  max-width: var(--container-width);
  height: 100%;
}

.navbar-title {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 1.5rem 0 0;
  min-width: 0;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: color 0.2s ease-in-out;
}

a.navbar-title:hover {
  color: var(--positive-color);
  text-decoration: none;
}

.navbar-toggle-icon {
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: inherit;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid var(--medium-color);
  margin-right: 1.5em;
}

.navbar-toggle-icon:hover {
  background-color: var(--light-color);
}

.navbar-toggle-icon:active {
  background-color: var(--medium-light-color);
}

.navbar-action {
  position: relative;
}

.navbar-action > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  width: 48px;
  height: 48px;
}

.navbar-action:hover {
  background-color: var(--light-color);
}

@media (--md-viewport) {
  .navbar-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
