.notifications {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;
}

.notifications-reversed {
  flex-direction: column-reverse;
}

.notification {
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  min-height: var(--navbar-height);
  background-color: var(--light-color);
  border-bottom: 1px solid var(--medium-dark-color);
}

.notification-reversed {
  border-top: 1px solid var(--medium-dark-color);
  border-bottom: 0;
}

.notification-positive {
  color: var(--positive-color);
  background-color: var(--positive-background-color);
}

.notification-negative {
  color: var(--negative-color);
  background-color: var(--negative-background-color);
}

.notification-icon {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--navbar-height);
}

.notification-content {
  flex: 1;
  display: flex;
  align-items: center;
  margin: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
}

.notification-enter,
.notification-leave {
  position: relative;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: -1;
}

.notification-enter,
.notification-leave.notification-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}

.notification-reversed.notification-enter,
.notification-reversed.notification-leave.notification-leave-active {
  transform: translateY(100%);
}

.notification-enter.notification-enter-active,
.notification-leave {
  transform: translateY(0);
  opacity: 1;
}
