.sidebar {
  padding: calc(var(--baseline-height) / 2) 1.5rem;
}

.sidebar-group {
  margin-bottom: calc(var(--baseline-height) / 2);
}

.sidebar-group-header {
  display: flex;
  align-items: center;
  padding: calc(var(--baseline-height) / 4) 0 calc(var(--baseline-height) / 4 - 1px);
  border-bottom: 1px solid var(--default-color);
}

.sidebar-is-opened {
  overflow: hidden;
}

@media (--md-viewport) {
  .sidebar-is-opened {
    overflow: visible;
  }
}
