.social-button-list {
  line-height: 0;
  text-align: center;
}

.social-button {
  display: inline-block;
  padding: 0 1rem 0 calc(1rem - 1px);
  border-left: 1px solid transparent;
}

.social-button + .social-button {
  border-left-color: var(--medium-dark-color);
}
