.stream-title,
a.stream-title {
  color: inherit;
  font-weight: 600;
}

a.stream-title:hover {
  color: var(--positive-color);
  text-decoration: none;
}

.stream-unread-count {
  color: var(--dark-color);
  font-weight: 400;
}

.stream-unread-count::before {
  content: '\00a0\00b7\00a0';
  color: var(--dark-color);
}

.stream-header {
  position: relative;
  padding: calc(var(--baseline-height) / 2) 0 calc(var(--baseline-height) / 2 - 1px);
  background-color: var(--tint-color);
  border-bottom: 1px solid var(--medium-color);
  z-index: 20;
}

.stream-header-content {
  display: flex;
  align-items: center;
}

.stream-header-content-left {
  flex: 1;
  margin-right: 1.5rem;
}

.stream-metadata {
  color: var(--dark-color);
}

.stream-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--tint-color);
  text-align: center;
  font-weight: 600;
}

.stream-footer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
