.table {
  width: 100%;
}

.table thead th {
  padding-bottom: calc(var(--baseline-height) / 4 - 2px);
  border-bottom: 2px solid var(--medium-color);
}

.table td,
.table th {
  padding: calc(var(--baseline-height) / 4) 1rem calc(var(--baseline-height) / 4 - 1px);
  border-bottom: 1px solid var(--medium-color);
}

.table-striped tbody tr:nth-of-type(odd) {
  background: var(--light-color);
}
