.table {
  width: 100%;
}

.table thead th {
  padding-bottom: calc(var(--baseline-height) / 4 - 2px);
  border-bottom: 2px solid var(--medium-dark-color);
}

.table td,
.table th {
  padding-bottom: calc(var(--baseline-height) / 4 - 1px);
  border-bottom: 1px solid var(--medium-dark-color);
}

.table tbody tr.is-even,
.table-striped tbody tr:nth-of-type(even) {
  background-color: var(--light-color);
}
