.slide-down-enter,
.slide-down-leave {
  position: relative;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  z-index: -1;
}

.slide-down-enter,
.slide-down-leave.slide-down-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-down-enter.slide-down-enter-active,
.slide-down-leave {
  transform: translateY(0);
  opacity: 1;
}
