.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-text-center {
  text-align: center;
}

.u-text-small {
  font-size: 0.875rem;
}

.u-none {
  display: none;
}

@media (--sm-viewport) {
  .u-sm-none {
    display: none !important;
  }
  .u-sm-inline {
    display: inline !important;
  }
  .u-sm-inline-block {
    display: inline-block !important;
  }
  .u-sm-block {
    display: block !important;
  }
}

@media (--md-viewport) {
  .u-md-none {
    display: none !important;
  }
  .u-md-inline {
    display: inline !important;
  }
  .u-md-inline-block {
    display: inline-block !important;
  }
  .u-md-block {
    display: block !important;
  }
}

@media (--lg-viewport) {
  .u-lg-none {
    display: none !important;
  }
  .u-lg-inline {
    display: inline !important;
  }
  .u-lg-inline-block {
    display: inline-block !important;
  }
  .u-lg-block {
    display: block !important;
  }
}
