@font-face {
  font-family: KleeDemibold;
  src: local('Klee');
  font-weight: bold;
}

html, body {
  overflow: initial;
}

body {
  -webkit-user-select: all;
  font-family: 'Optima', 'KleeDemibold', 'YuMincho', serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: underline;
  color: black;
}

a:visited {
  color: inherit;
}

h1, h2, h3, h4, h5, h6, b, em, strong {
  font-family: 'Gill Sans', 'YuGothic', sans-serif;
}

pre, code, var, samp, kbd, tt {
  font-family: 'Consolas', 'YuGothic', monospace;
}
