.subscriptions {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subscription {
  padding-left: 16px;
}

.subscription.is-selected {
  background: lightgray;
}

.subscription.is-hidden {
  display: none;
}

.subscription-link {
  text-decoration: none;
}

.subscription-icon {
  text-align: center;
  margin: 0 4px;
  width: 16px;
  height: 16px;
}

.subscription-link {
  display: flex;
  align-items: center;
}

.subscription-unread-count::before {
  content: '(';
}

.subscription-unread-count::after {
  content: ')';
}
