.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  --floor: calc((var(--scale, 1) - 0.25) / 0.25 - 0.5);
  margin: 0 0 calc(var(--leading) / 2);
  font-size: calc(1rem * var(--scale, 1));
  font-weight: 300;
  line-height: calc(var(--leading) * max(var(--floor) * 0.25, 1));
}

.display-1 {
  --scale: var(--scale-1);
}

.display-2 {
  --scale: var(--scale-2);
}

.display-3 {
  --scale: var(--scale-3);
}

.display-4 {
  --scale: var(--scale-4);
}

.display-5 {
  --scale: var(--scale-5);
}

.display-6 {
  --scale: var(--scale-6);
}
