.DropdownArrow::after,
.DropupArrow::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.25rem;
  vertical-align: middle;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.DropdownArrow::after {
  border-top: 0.25rem solid;
}

.DropupArrow::after {
  border-bottom: 0.25rem solid;
}
