.Popup {
  opacity: 0;
  transition:
    display 0.2s ease-in-out allow-discrete,
    overlay 0.2s ease-in-out allow-discrete,
    opacity 0.2s ease-in-out;
}

.Popup::backdrop {
  background: none;
}

.Popup[open] {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.Popup.is-pull-up,
.Popup.is-pull-down {
  left: 50%;
}

.Popup.is-pull-up {
  padding-bottom: 16px;
}

.Popup.is-pull-down {
  padding-top: 16px;
}

.Popup.is-pull-left {
  padding-right: 16px;
}

.Popup.is-pull-right {
  padding-left: 16px;
}

.Popup.is-pull-up,
.Popup.is-pull-down {
  transform: translateX(-50%);
}

.Popup.is-pull-left,
.Popup.is-pull-right {
  transform: translateY(-50%);
}

.Popup > .popover {
  display: flex;
  align-items: stretch;
  margin: 0;
}

.Popup > .popover > .popover-content {
  overflow: auto;
  box-sizing: border-box;
}

.Popup > .popover {
  box-shadow: 0 1px 2px var(--shadow-color);
}

.Popup > .popover > .popover-arrow {
  box-shadow: -1px 1px 2px var(--shadow-color);
}
