.AutoComplete {
  display: inline-block;
  position: relative;
  width: 100%;
}

.AutoComplete-form {
  margin-bottom: 0;
}

.AutoComplete-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.AutoComplete.is-open > .Autocomplete-form > .form-control {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.AutoComplete.is-open > .Autocomplete-menu {
  display: block;
}

.AutoComplete.is-open > .Autocomplete-menu > .Menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
