.comment {
  padding: calc(var(--vertical-rhythm) / 4) 0;
}

.comment + .comment {
  padding-top: calc(var(--vertical-rhythm) / 4 - 1px);
  border-top: 1px solid var(--medium-dark-color);
}

.comment-user {
  font-weight: bold;
  margin-right: 0.5rem;
}

.comment-comment {
  margin-right: 0.5rem;
  word-wrap: break-word;
}

.comment-timestamp {
  color: var(--dark-color);
}
