.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  --floor: calc((var(--type-scale, 1) - 0.25) / 0.25 - 0.5);
  margin: 0 0 calc(var(--vertical-rhythm) / 2);
  font-size: calc(1rem * var(--type-scale, 1));
  font-weight: 300;
  line-height: calc(var(--vertical-rhythm) * max(var(--floor) * 0.25, 1));
}

.display-1 {
  --type-scale: var(--type-scale-1);
}

.display-2 {
  --type-scale: var(--type-scale-2);
}

.display-3 {
  --type-scale: var(--type-scale-3);
}

.display-4 {
  --type-scale: var(--type-scale-4);
}

.display-5 {
  --type-scale: var(--type-scale-5);
}

.display-6 {
  --type-scale: var(--type-scale-6);
}
