.entry {
  padding: calc(var(--vertical-rhythm) / 2) 0 calc(var(--vertical-rhythm) / 2 - 1px);
  border-bottom: 1px solid var(--medium-dark-color);
  transition: box-shadow 0.2s ease-in-out;
}

.entry.is-active .entry-nav,
.entry:hover .entry-nav {
  visibility: visible;
}

.entry.is-active {
  overflow-anchor: auto;
  box-shadow: 0 2px 18px var(--shadow-color),
              0 0 6px var(--shadow-color);
}

.entry.is-pinned {
  box-shadow: 6px 0 0 var(--positive-background-color) inset;
}

.entry.is-pinned.is-active {
  box-shadow: 6px 0 0 var(--positive-background-color) inset,
              0 2px 18px var(--shadow-color),
              0 0 6px var(--shadow-color);
}

.entry:not(.is-expanded) {
  cursor: pointer;
}

.entry.is-expanded {
  padding: var(--vertical-rhythm) 0 calc(var(--vertical-rhythm) - 1px);
}

.entry.is-expanded .entry-header {
  margin-bottom: var(--vertical-rhythm);
}

.entry.is-expanded .entry-title {
  font-size: calc(1rem * $type-scale-5);
  line-height: calc(var(--vertical-rhythm) * $type-height-5);
}

.entry-nav {
  display: flex;
  float: right;
  visibility: hidden;
  padding-left: 1rem;
}

.entry-title {
  margin: 0;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
}

.entry-metadata {
  color: var(--dark-color);
}

.entry-summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-content {
  margin: 0 0 var(--vertical-rhythm);
}

.entry-content p {
  hyphens: auto;
  text-align: justify;
}

.entry-content img,
.entry-content video,
.entry-content iframe {
  max-width: 100%;
  object-fit: cover;
}

.entry-page:first-child .entry-page-header {
  display: none;
}

.entry-page-header {
  overflow: hidden;
  text-align: center;
}

.entry-page-title {
  display: inline-block;
  padding: 0 1rem;
  margin: var(--vertical-rhythm) 0;
  position: relative;
  font-variant: small-caps;
  text-transform: lowercase;
}

.entry-page-title::before,
.entry-page-title::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 1px;
  background: var(--medium-dark-color);
}

.entry-page-title::before {
  right: 100%;
}

.entry-page-title::after {
  left: 100%;
}

.entry-visual {
  flex: 0 0 calc(var(--vertical-rhythm) * 4);
  height: calc(var(--vertical-rhythm) * 3);
  line-height: 0;
  margin-left: 1em;
}

.entry-visual > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
