.Menu {
  background-color: var(--x-light-color);
  border-radius: 4px;
  border: 1px solid var(--medium-dark-color);
  box-shadow: 0 1px 2px var(--shadow-color);
  box-sizing: border-box;
  inset: auto;
  margin: 0;
  opacity: 0;
  overflow-y: auto;
  padding-block: calc(var(--vertical-rhythm) / 4 - 1px);
  padding-inline: 0;
  transition-behavior: allow-discrete;
  transition-duration: 0.2s;
  transition-property: display, opacity;
  transition-timing-function: ease-out;

  &:popover-open {
    opacity: 1;
    transition-timing-function: ease-in;

    @starting-style {
      opacity: 0;
    }
  }

  &:not(:has(*)) {
    visibility: hidden;
  }

  &:focus {
    outline: none;
  }

  &[data-position="top-left"],
  &[data-position="top-right"] {
    bottom: calc(100% - var(--anchor-top));
    max-height: var(--anchor-top);
  }

  &[data-position="bottom-left"],
  &[data-position="bottom-right"] {
    top: var(--anchor-bottom);
    max-height: calc(100% - var(--anchor-bottom));
  }

  &[data-position="top-left"],
  &[data-position="bottom-left"] {
    right: calc(100% - var(--anchor-right));
    max-width: var(--anchor-right);
  }

  &[data-position="top-right"],
  &[data-position="bottom-right"] {
    left: var(--anchor-left);
    max-width: calc(100% - var(--anchor-left));
  }
}

.MenuItem {
  align-items: center;
  color: inherit;
  display: grid;
  grid-template-areas: "icon content hint";
  grid-template-columns: 32px 1fr minmax(24px, max-content);
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:where(a, button) {
    padding-block: calc(var(--vertical-rhythm) / 4);
  }

  &:where(a, button):not(:disabled):hover,
  &:focus {
    text-decoration: none;
    background-color: var(--medium-light-color);
  }

  &:disabled {
    color: var(--dark-color);
    cursor: not-allowed;
  }
}

.MenuItem-icon {
  grid-area: icon;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuItem-content {
  grid-area: content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.MenuItem-hint {
  grid-area: hint;
  color: var(--dark-color);
  font-size: calc(1rem * var(--type-scale-7));
  padding-inline: 2ch;
}

.MenuHeading {
  padding-inline: 32px 24px;
  color: var(--dark-color);
  font-weight: bold;
  font-size: calc(1rem * var(--type-scale-7));
}

.MenuSeparator {
  height: 1px;
  margin-block: calc(var(--vertical-rhythm) / 4)
    calc(var(--vertical-rhythm) / 4 - 1px);
  overflow: hidden;
  background-color: var(--medium-dark-color);
}
