.Modal {
  background-color: var(--x-light-color);
  border-radius: 4px;
  box-shadow: 0 1px 2px var(--shadow-color);
  box-sizing: border-box;
  inline-size: 100%;
  margin-block: var(--vertical-rhythm);
  margin-inline: auto;
  max-block-size: calc(100% - var(--vertical-rhythm) * 2);
  max-inline-size: 640px;
  opacity: 0;
  padding-block: var(--vertical-rhythm);
  padding-inline: 1.5rem;
  transform: scale(1.15);
  transition:
    display 0.2s ease-in-out allow-discrete,
    overlay 0.2s ease-in-out allow-discrete,
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &[open] {
    inset: 0;
    opacity: 1;
    transform: scale(1);
    transition-timing-function: ease-in;

    @starting-style {
      opacity: 0;
      transform: scale(1.15);
    }
  }
}

.Modal::backdrop {
  background-color: var(--backdrop-background-color);
  opacity: 0;
  transition:
    display 0.2s ease-in-out allow-discrete,
    overlay 0.2s ease-in-out allow-discrete,
    opacity 0.2s ease-in-out;
}

.Modal[open]::backdrop {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.Modal > *:last-child {
  margin-block-end: 0;
}

.Modal-title {
  --scale: var(--scale-6);
}
