.responsive-container {
  margin: 0 auto var(--vertical-rhythm);
}

.responsive-wrapper {
  position: relative;
}

.responsive-wrapper > img,
.responsive-wrapper > video,
.responsive-wrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}
