.u-margin-top-0 {
  margin-top: 0;
}
.u-margin-top-1 {
  margin-top: calc(var(--vertical-rhythm) * 0.5);
}
.u-margin-top-2 {
  margin-top: calc(var(--vertical-rhythm) * 1);
}
.u-margin-top-3 {
  margin-top: calc(var(--vertical-rhythm) * 1.5);
}
.u-margin-top-4 {
  margin-top: calc(var(--vertical-rhythm) * 2);
}
.u-margin-bottom-0 {
  margin-bottom: 0;
}
.u-margin-bottom-1 {
  margin-bottom: calc(var(--vertical-rhythm) * 0.5);
}
.u-margin-bottom-2 {
  margin-bottom: calc(var(--vertical-rhythm) * 1);
}
.u-margin-bottom-3 {
  margin-bottom: calc(var(--vertical-rhythm) * 1.5);
}
.u-margin-bottom-4 {
  margin-bottom: calc(var(--vertical-rhythm) * 2);
}
.u-margin-left-0 {
  margin-left: 0;
}
.u-margin-left-1 {
  margin-left: 0.5rem;
}
.u-margin-left-2 {
  margin-left: 1rem;
}
.u-margin-left-3 {
  margin-left: 1.5rem;
}
.u-margin-left-4 {
  margin-left: 2rem;
}
.u-margin-right-0 {
  margin-right: 0;
}
.u-margin-right-1 {
  margin-right: 0.5rem;
}
.u-margin-right-2 {
  margin-right: 1rem;
}
.u-margin-right-3 {
  margin-right: 1.5rem;
}
.u-margin-right-4 {
  margin-right: 2rem;
}

.u-margin-remove {
  margin: 0;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-clearfix::after {
  content: ' ';
  display: block;
  clear: both;
}

.u-text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-text-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.u-text-prewrap {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-1 {
  font-size: calc(1rem * $type-scale-1);
  line-height: calc(var(--vertical-rhythm) * $type-height-1);
}

.u-text-2 {
  font-size: calc(1rem * $type-scale-2);
  line-height: calc(var(--vertical-rhythm) * $type-height-2);
}

.u-text-3 {
  font-size: calc(1rem * $type-scale-3);
  line-height: calc(var(--vertical-rhythm) * $type-height-3);
}

.u-text-4 {
  font-size: calc(1rem * $type-scale-4);
  line-height: calc(var(--vertical-rhythm) * $type-height-4);
}

.u-text-5 {
  font-size: calc(1rem * $type-scale-5);
  line-height: calc(var(--vertical-rhythm) * $type-height-5);
}

.u-text-6 {
  font-size: calc(1rem * $type-scale-6);
  line-height: calc(var(--vertical-rhythm) * $type-height-6);
}

.u-text-7 {
  font-size: calc(1rem * $type-scale-7);
  line-height: calc(var(--vertical-rhythm) * $type-height-7);
}

.u-text-8 {
  font-size: calc(1rem * $type-scale-8);
  line-height: calc(var(--vertical-rhythm) * $type-height-8);
}

.u-text-9 {
  font-size: calc(1rem * $type-scale-9);
  line-height: calc(var(--vertical-rhythm) * $type-height-9);
}

.u-text-muted {
  color: var(--dark-color);
}

.u-text-positive {
  color: var(--positive-color);
}

.u-text-negative {
  color: var(--negative-color);
}

.u-vertical-top {
  vertical-align: top;
}

.u-vertical-middle {
  vertical-align: middle;
}

.u-vertical-bottom {
  vertical-align: bottom;
}

.u-object-fit-fill {
  object-fit: fill;
}

.u-object-fit-contain {
  object-fit: contain;
}

.u-object-fit-cover {
  object-fit: cover;
}

.u-object-fit-none {
  object-fit: none;
}

.u-object-fit-scale-down {
  object-fit: scale-down;
}

.u-rounded {
  border-radius: 4px;
}

.u-rounded-circle {
  border-radius: 50%;
}

.u-flex {
  display: flex;
}

.u-flex-grow-0 {
  flex-grow: 0;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-flex-shrink-0 {
  flex-shrink: 0;
}

.u-flex-shrink-1 {
  flex-shrink: 1;
}

.u-flex-align-items-center {
  align-items: center;
}

.u-flex-justify-content-between {
  justify-content: space-between;
}

.u-flex-justify-content-center {
  justify-content: center;
}

.u-flex-truncate {
  min-width: 0;
}

.u-inline {
  display: inline !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-block {
  display: block !important;
}

.u-none {
  display: none !important;
}

.u-responsive {
  overflow-x: auto;
}

@media (--md-viewport) {
  .u-sm-none {
    display: none !important;
  }

  .u-sm-inline {
    display: inline !important;
  }

  .u-sm-inline-block {
    display: inline-block !important;
  }

  .u-sm-block {
    display: block !important;
  }
}

@media (--md-viewport) {
  .u-md-none {
    display: none !important;
  }

  .u-md-inline {
    display: inline !important;
  }

  .u-md-inline-block {
    display: inline-block !important;
  }

  .u-md-block {
    display: block !important;
  }
}

@media (--lg-viewport) {
  .u-lg-none {
    display: none !important;
  }

  .u-lg-inline {
    display: inline !important;
  }

  .u-lg-inline-block {
    display: inline-block !important;
  }

  .u-lg-block {
    display: block !important;
  }
}
