@property --floor {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

:root {
  --vertical-rhythm: calc(1rem * (26 / 16));
  --sidebar-width: calc(1rem * (304 / 16));
  --container-width: 704px;

  --type-scale-base: 1.125;
  --type-scale-1: calc(var(--type-scale-base) * var(--type-scale-2));
  --type-scale-2: calc(var(--type-scale-base) * var(--type-scale-3));
  --type-scale-3: calc(var(--type-scale-base) * var(--type-scale-4));
  --type-scale-4: calc(var(--type-scale-base) * var(--type-scale-5));
  --type-scale-5: calc(var(--type-scale-base) * var(--type-scale-6));
  --type-scale-6: var(--type-scale-base);
  --type-scale-7: calc(1 / var(--type-scale-6));
  --type-scale-8: calc(1 / var(--type-scale-5));
  --type-scale-9: calc(1 / var(--type-scale-4));
}

.theme-light {
  --x-light-color: #ffffff;
  --light-color: #f7f9fc;
  --medium-light-color: #e8edf2;
  --medium-dark-color: #d3dbe3;
  --dark-color: #7e8998;
  --x-dark-color: #203442;

  --default-color: var(--x-dark-color);
  --default-background-color: var(--x-light-color);
  --default-border-color: var(--medium-dark-color);
  --default-hover-color: hsl(from var(--x-dark-color) h s calc(l + 0.05));
  --default-active-color: hsl(
    from var(--x-dark-color) h s calc(l + 0.05) / 90%
  );
  --default-outline-color: hsl(from var(--medium-dark-color) h s l / 50%);

  --positive-color: #2eabff;
  --positive-background-color: #e0f3ff;
  --positive-border-color: var(--positive-color);
  --positive-hover-color: hsl(from var(--positive-color) h s calc(l + 0.05));
  --positive-active-color: hsl(
    from var(--positive-color) h s calc(l + 0.05) / 90%
  );
  --positive-outline-color: hsl(from var(--positive-color) h s l / 90%);

  --negative-color: #ee6969;
  --negative-background-color: #fbdbdb;
  --negative-border-color: var(--negative-color);
  --negative-hover-color: hsl(from var(--negative-color) h s calc(l + 0.05));
  --negative-active-color: hsl(
    from var(--negative-color) h s calc(l + 0.05) / 90%
  );
  --negative-outline-color: hsl(from var(--negative-color) h s l / 50%);

  --backdrop-color: var(--x-light-color);
  --backdrop-background-color: rgba(0, 0, 0, 0.75);

  --shadow-color: hsl(from var(--x-dark-color) h s l / 15%);
  --transparent-color: hsl(from var(--x-light-color) h s l / 90%);
}

.theme-dark {
  --x-light-color: #ddd;
  --light-color: #888;
  --medium-light-color: #3a3a3a;
  --medium-dark-color: #2a2a2a;
  --dark-color: #202020;
  --x-dark-color: #1a1a1a;

  --default-color: var(--x-light-color);
  --default-background-color: var(--x-dark-color);
  --default-border-color: var(--medium-light-color);
  --default-hover-color: hsl(from var(--x-light-color) h s calc(l - 0.1));
  --default-active-color: hsl(
    from var(--x-light-color) h s calc(l - 0.1) / 90%
  );
  --default-outline-color: hsl(from var(--x-light-color) h s l / 50%);

  --positive-color: #2eabff;
  --positive-background-color: #003a61;
  --positive-border-color: var(--positive-color);
  --positive-hover-color: hsl(from var(--positive-color) h s calc(l - 0.1));
  --positive-active-color: hsl(
    from var(--positive-color) h s calc(l - 0.1) / 90%
  );
  --positive-outline-color: hsl(from var(--positive-color) h s l / 50%);

  --negative-color: #ee6969;
  --negative-background-color: #580e0e;
  --negative-border-color: var(--negative-color);
  --negative-hover-color: hsl(from var(--negative-color) h s calc(l - 0.1));
  --negative-active-color: hsl(
    from var(--negative-color) h s calc(l - 0.1) / 90%
  );

  --backdrop-color: var(--x-light-color);
  --backdrop-background-color: rgba(0, 0, 0, 0.75);

  --shadow-color: rgba(0, 0, 0, 0.5);
  --transparent-color: hsl(from var(--x-dark-color) h s l / 90%);
}
