@font-face {
  font-family: emoji-neutral-offset;
  src: local("Apple Color Emoji");
  ascent-override: 76%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: emoji-neutral-offset;
  src: local("Segoe UI Emoji");
  ascent-override: 52%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: emoji-neutral-offset;
  src: local("Noto Color Emoji");
  ascent-override: 55%;
  descent-override: 0%;
  line-gap-override: 0%;
}

.BootScreen {
  display: grid;
  grid-template-areas:
    "."
    "title"
    "message"
    ".";
  grid-template-rows: 1fr auto auto 1fr;
  min-height: 100vh;
  place-items: center;
}

.BootScreen-title {
  grid-area: title;
}

.BootScreen-message {
  animation: BootScreen-pulse 2s infinite ease-in-out;
  color: var(--default-6);
  grid-area: message;
}

@keyframes BootScreen-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.EmojiIcon {
  --EmojiIcon-size: attr(data-size px, 16px);
  display: grid;
  font-family: emoji-neutral-offset, emoji, sans-serif;
  font-size: var(--EmojiIcon-size);
  font-style: normal;
  font-weight: normal;
  height: var(--EmojiIcon-size);
  line-height: var(--EmojiIcon-size);
  user-select: none;
  width: var(--EmojiIcon-size);

  &::before {
    color: transparent;
    content: "⬛"; /* Dummy glyph for container sizing */
    grid-area: 1 / 1;
  }

  span {
    grid-area: 1 / 1;
    container-type: inline-size;
  }

  span::first-letter {
    font-size: calc(1em * tan(atan2(1em, 100cqi)));
  }
}
