html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: var(--font-text);
  line-height: var(--text-leading);
  overscroll-behavior: none;
  touch-action: manipulation;
}

body {
  background-color: var(--default-1);
  color: var(--default-9);
  font: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-size: calc(1rem * var(--heading-scale, 1));
  letter-spacing: -2%;
  line-height: round(
    1rlh *
    var(--heading-scale, 1) -
    0.25rlh *
    var(--heading-scale, 1),
    0.25rlh
  );
  margin-block: 0 0.5rlh;
  text-wrap: balance;
}

h1 {
  --heading-scale: var(--text-scale-1);
}

h2 {
  --heading-scale: var(--text-scale-2);
}

h3 {
  --heading-scale: var(--text-scale-3);
}

h4 {
  --heading-scale: var(--text-scale-4);
}

h5 {
  --heading-scale: var(--text-scale-5);
}

h6 {
  --heading-scale: var(--text-scale-6);
}

:where(h1, h2, h3, h4, h5, h6)[class] {
  --heading-scale: 1;
  margin-block: 0;
}

blockquote,
dl,
figure,
ol,
p,
pre,
table,
ul {
  margin-block: 0 1rlh;
}

dd {
  margin-inline-start: 1rlh;
}

ol,
ul {
  padding-inline-start: 1.5rlh;
  margin-block: 0 1rlh;
}

:where(ul, ol)[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  hyphens: auto;
  text-align: justify;
  text-wrap: pretty;
}

a {
  color: var(--primary-6);
  text-decoration-color: color-mix(in srgb, currentColor 20%, transparent);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

a:where(:visited) {
  color: var(--secondary-6);
}

a:where(:hover) {
  text-decoration-color: currentColor;
}

a:where([class]:any-link) {
  color: inherit;
  text-decoration: none;
}

b,
cite,
dfn,
em,
i,
strong {
  font-family: var(--font-display);
}

code,
kbd,
pre,
samp {
  font-family: var(--font-code);
}

button {
  all: unset;
  cursor: pointer;
}
