:root {
  --font-code:
    "Menlo", "Consolas", "Toppan Bunkyu Gothic", "Hiragino Kaku Gothic ProN",
    "Meiryo", monospace;
  --font-display:
    "Avenir Next", "Segoe UI", "Toppan Bunkyu Midashi Gothic",
    "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  --font-text:
    "Optima", "Cambria", "Toppan Bunkyu Mincho", "Hiragino Mincho ProN",
    "Meiryo", serif;

  --text-leading: 1.625rem;
  --text-scale-1: pow(var(--text-scale-base), 6);
  --text-scale-2: pow(var(--text-scale-base), 5);
  --text-scale-3: pow(var(--text-scale-base), 4);
  --text-scale-4: pow(var(--text-scale-base), 3);
  --text-scale-5: pow(var(--text-scale-base), 2);
  --text-scale-6: pow(var(--text-scale-base), 1);
  --text-scale-7: pow(var(--text-scale-base), -1);
  --text-scale-8: pow(var(--text-scale-base), -2);
  --text-scale-9: pow(var(--text-scale-base), -3);
  --text-scale-base: 1.125;

  --slate-1: #edf1f6;
  --slate-2: #d1dbe7;
  --slate-3: #b2c3d5;
  --slate-4: #90a8c2;
  --slate-5: #698aa8;
  --slate-6: #4b6e8d;
  --slate-7: #3f576e;
  --slate-8: #334454;
  --slate-9: #29343e;
  --slate-10: #22262b;
  --dusk-1: #f2eff9;
  --dusk-2: #dcd7ec;
  --dusk-3: #c4bdde;
  --dusk-4: #a99fd0;
  --dusk-5: #897ebe;
  --dusk-6: #6c62a1;
  --dusk-7: #564e7e;
  --dusk-8: #443e5f;
  --dusk-9: #343044;
  --dusk-10: #27242e;
  --magenta-1: #ffecf1;
  --magenta-2: #f8d0da;
  --magenta-3: #f1afc2;
  --magenta-4: #ea88a7;
  --magenta-5: #d95a88;
  --magenta-6: #ba3a6c;
  --magenta-7: #923156;
  --magenta-8: #6e2b43;
  --magenta-9: #4f2633;
  --magenta-10: #342026;
  --red-1: #fdede9;
  --red-2: #f3d3cb;
  --red-3: #e9b5a8;
  --red-4: #df927f;
  --red-5: #cf6950;
  --red-6: #b24933;
  --red-7: #8b3d2b;
  --red-8: #693326;
  --red-9: #4a2a22;
  --red-10: #32221e;
  --yellow-1: #f9efe3;
  --yellow-2: #e9d7c0;
  --yellow-3: #d9bd95;
  --yellow-4: #c6a064;
  --yellow-5: #aa7f2c;
  --yellow-6: #8b640d;
  --yellow-7: #6f4f0d;
  --yellow-8: #553e13;
  --yellow-9: #3f3017;
  --yellow-10: #2d2418;
  --lime-1: #eef3de;
  --lime-2: #d3dfb5;
  --lime-3: #b5c986;
  --lime-4: #91b151;
  --lime-5: #699314;
  --lime-6: #517503;
  --lime-7: #3f5e00;
  --lime-8: #324906;
  --lime-9: #29370d;
  --lime-10: #222814;
  --green-1: #e2f5ea;
  --green-2: #bae3cd;
  --green-3: #8dcfad;
  --green-4: #56b88b;
  --green-5: #1c9969;
  --green-6: #027a51;
  --green-7: #076140;
  --green-8: #074c32;
  --green-9: #103a27;
  --green-10: #152a20;
  --teal-1: #e0f5f5;
  --teal-2: #b9e2e2;
  --teal-3: #8ccccd;
  --teal-4: #54b4b7;
  --teal-5: #159598;
  --teal-6: #01777a;
  --teal-7: #0b5e61;
  --teal-8: #0a4a4c;
  --teal-9: #113839;
  --teal-10: #162929;
  --cyan-1: #e5f3fa;
  --cyan-2: #c3deed;
  --cyan-3: #9cc7dd;
  --cyan-4: #6baece;
  --cyan-5: #3790b3;
  --cyan-6: #197392;
  --cyan-7: #105c75;
  --cyan-8: #19475a;
  --cyan-9: #193643;
  --cyan-10: #1b282e;
  --blue-1: #edf0fe;
  --blue-2: #d0d9f8;
  --blue-3: #afc0f0;
  --blue-4: #88a5e7;
  --blue-5: #5686d7;
  --blue-6: #356ab6;
  --blue-7: #2e558f;
  --blue-8: #29426c;
  --blue-9: #25324e;
  --blue-10: #1f2635;
  --purple-1: #fbecfe;
  --purple-2: #f0cff7;
  --purple-3: #e4aef1;
  --purple-4: #d489ea;
  --purple-5: #be5ddc;
  --purple-6: #9f3ebe;
  --purple-7: #7d3494;
  --purple-8: #5f2d6f;
  --purple-9: #46264f;
  --purple-10: #302034;
}
