.entries {
  list-style: none;
  padding: 0;
}

.entry {
  padding: 8px;
}

.entry.is-active {
  background-color: #eee;
}

.entry-content {
  border: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.entry-title a {
  text-decoration: none;
}
