@font-face {
  font-family: emoji-neutral-offset;
  src: local("Apple Color Emoji");
  ascent-override: 76%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: emoji-neutral-offset;
  src: local("Segoe UI Emoji");
  ascent-override: 52%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: emoji-neutral-offset;
  src: local("Noto Color Emoji");
  ascent-override: 55%;
  descent-override: 0%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Toppan Bunkyu Gothic";
  font-weight: 400;
  src: local("Toppan Bunkyu Gothic Regular");
}

@font-face {
  font-family: "Toppan Bunkyu Gothic";
  font-weight: 600;
  src: local("Toppan Bunkyu Gothic DemiBold");
}

@font-face {
  font-family: "Toppan Bunkyu Gothic";
  font-weight: 800;
  src: local("Toppan Bunkyu Midashi Gothic ExtraBold");
}

@font-face {
  font-family: "Toppan Bunkyu Mincho";
  font-weight: 400;
  src: local("Toppan Bunkyu Mincho Regular");
}

@font-face {
  font-family: "Toppan Bunkyu Mincho";
  font-weight: 800;
  src: local("Toppan Bunkyu Midashi Mincho Extrabold");
}
