.use-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@container not style(--breakpoint: small) {
  .use-only-small {
    display: none;
  }
}

@container not style(--breakpoint: medium) {
  .use-only-medium {
    display: none;
  }
}

@container not style(--breakpoint: large) {
  .use-only-large {
    display: none;
  }
}
